<main class="l-main l-main--clear">
  <div class="c-training">
    <div class="c-training__container">
      <div class="c-training__inner">
        <div class="c-training__expander">
          <div class="c-training__panel">
            <div class="c-training__panel--title">
              Learn how to use DocuWalk like a pro!
            </div>
          </div>
        </div>

        <div class="c-training__grid">
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
          <div class="c-training__grid--item">
            <div class="c-training__video">
              <a href="javascript:void(0)" class="c-training__video--inner">
                <img class="c-training__preview" src="{{asset "built/images/player.svg"}}" alt="This is the title of the video">
                <img class="c-training__button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-training__content">
              <div class="c-training__item-title">
                This is the title of the video
              </div>
              <div class="c-training__item-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
