<main class="c-main">
  <div class="c-serving-industries">
    <div class="c-serving-industries__inner h-container">
      <div class="c-serving-industries__inner-2">
        <div class="c-serving-industries__body">
          <div class="c-serving-industries__header">
            <h2 class="c-serving-industries__title">See how we serve industries Both Large and Small</h2>
          </div>
          <div class="c-serving-industries__text">By providing the tools to manage all your documents and contracts we help you and your business become more efficient. Save Time. Find More Profits. Reduce Risk.</div>
          <div class="c-serving-industries__controls"><a href="//app.docuwalk.com/signup/personal" class="c-serving-industries__button c-button c-button--dark-blue w-button">Sign Up for Free</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="field-of-activity">
    <div class="list-of-fields-of-activity">
      <div class="list-of-fields-of-activity__inner h-container">
        <div class="list-of-fields-of-activity__inner-2">
          <div class="list-of-fields-of-activity__text">DocuWalk can be used for any situation that requires documentation — everything from an individual’s deeds and wills all the way to the complex contracts of a company.</div>
          <div class="list-of-fields-of-activity__set">
            <a href="/{{{block "url-prefix"}}}industries-small-business" class="list-of-fields-of-activity__set-item">
              <div class="list-of-fields-of-activity__set-item-icon-wrap"><img src="{{asset "built/images/fields-of-activity--small-business.svg"}}" alt="" class="list-of-fields-of-activity__set-item-icon" /></div>
              <div class="list-of-fields-of-activity__set-title">Small Business</div>
            </a>
            <a href="/{{{block "url-prefix"}}}industries-real-estate" class="list-of-fields-of-activity__set-item">
              <div class="list-of-fields-of-activity__set-item-icon-wrap"><img src="{{asset "built/images/fields-of-activity--real-estate.svg"}}" alt="" class="list-of-fields-of-activity__set-item-icon" /></div>
              <div class="list-of-fields-of-activity__set-title">Real Estate</div>
            </a>
            <a href="/{{{block "url-prefix"}}}industries-legal" class="list-of-fields-of-activity__set-item">
              <div class="list-of-fields-of-activity__set-item-icon-wrap"><img src="{{asset "built/images/fields-of-activity--legal.svg"}}" alt="" class="list-of-fields-of-activity__set-item-icon" /></div>
              <div class="list-of-fields-of-activity__set-title">Legal</div>
            </a>
            <a href="/{{{block "url-prefix"}}}industries-government" class="list-of-fields-of-activity__set-item">
              <div class="list-of-fields-of-activity__set-item-icon-wrap"><img src="{{asset "built/images/fields-of-activity--government.svg"}}" alt="" class="list-of-fields-of-activity__set-item-icon" /></div>
              <div class="list-of-fields-of-activity__set-title">Government</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="c-small-businesses-activity">
      <div class="c-small-businesses-activity__inner h-container">
        <div class="c-small-businesses-activity__inner-2">
          <div class="c-small-businesses-activity__image-container"><img src="{{asset "built/images/small-businesses-image.svg"}}" alt="" class="c-small-businesses-activity__image" /></div>
          <div class="c-small-businesses-activity__body">
            <div class="c-small-businesses-activity__header">
              <h3 class="c-small-businesses-activity__title">Small Businesses: Save Time. Find More Profits. Reduce Risk. All With DocuWalk.</h3>
            </div>
            <div class="c-small-businesses-activity__text">
              The backbone of every business is the documents (and contracts) that govern its daily operations. With DocuWalk you can not only create and manage them much more easily, you can access greater analytics to locate opportunities
              for increased profit margins.
            </div>
            <div class="c-small-businesses-activity__table">
              <div class="c-small-businesses-activity__table-cel">
                <div class="c-small-businesses-activity__table-header">
                  <div class="c-small-businesses-activity__table-icon-wrap"><img src="{{asset "built/images/icon-small-Businesses-efficiency-and-speed.svg"}}" alt="" class="c-small-businesses-activity__table-icon" /></div>
                  <h4 class="c-small-businesses-activity__table-title">Efficiency &amp; Speed</h4>
                </div>
                <div class="c-small-businesses-activity__table-text">Streamline your workflow so you spend time meeting your clients’ needs, not chasing documents all over the office.</div>
              </div>
              <div class="c-small-businesses-activity__table-cel">
                <div class="c-small-businesses-activity__table-header">
                  <div class="c-small-businesses-activity__table-icon-wrap"><img src="{{asset "built/images/icon-small-Businesses-peace-of-mind.svg"}}" alt="" class="c-small-businesses-activity__table-icon" /></div>
                  <h4 class="c-small-businesses-activity__table-title">Peace of Mind</h4>
                </div>
                <div class="c-small-businesses-activity__table-text">With DocuWalk you don’t have to worry about whether or not someone has changed the fine print without your approval.</div>
              </div>
            </div>
            <div class="c-small-businesses-activity__controls">
              <a href="/{{{block "url-prefix"}}}industries-small-business" class="c-small-businesses-activity__button c-button c-button--dark-blue w-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-real-estate-activity">
      <img src="{{asset "built/images/real-estate-image-2.svg"}}" alt="" class="c-real-estate-activity__bg-image" />
      <div class="c-real-estate-activity__inner h-container">
        <div class="c-real-estate-activity__inner-2">
          <div class="c-real-estate-activity__image-container">
            <img
              src="{{asset "built/images/real-estate-image3x.png"}}"
              height=""
              srcset="
                images/real-estate-image3x-p-500.png   500w,
                images/real-estate-image3x-p-800.png   800w,
                images/real-estate-image3x-p-1080.png 1080w,
                images/real-estate-image3x-p-1600.png 1600w,
                images/real-estate-image3x-p-2000.png 2000w,
                images/real-estate-image3x.png        2904w
              "
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 640px, (max-width: 1439px) 41vw, (max-width: 1919px) 42vw, 40vw"
              alt=""
              class="c-real-estate-activity__image"
            />
          </div>
          <div class="c-real-estate-activity__body">
            <div class="c-real-estate-activity__header">
              <h3 class="c-real-estate-activity__title">Real Estate: Residential &amp; Commercial</h3>
            </div>
            <div class="c-real-estate-activity__text">
              Our first users were in the real estate space since one of our co-founders has been a broker for over 30 years. He saw firsthand how this industry was calling out for a way to streamline the dozens of documents that accompany
              almost every real estate transaction, whether they be rentals or purchases, residential or commercial. Now you can keep track of every step—from the listing to the negotiation to the closing—all in one place.
            </div>
            <div class="c-real-estate-activity__table">
              <div class="c-real-estate-activity__table-cel">
                <div class="c-real-estate-activity__table-header">
                  <div class="c-real-estate-activity__table-icon-wrap"><img src="{{asset "built/images/icon-real-estate-consistency.svg"}}" alt="" class="c-real-estate-activity__table-icon" /></div>
                  <h4 class="c-real-estate-activity__table-title">Consistency</h4>
                </div>
                <div class="c-real-estate-activity__table-text">DocuWalk makes it easy to ensure the information is consistent across all the documentation in a property transaction.</div>
              </div>
              <div class="c-real-estate-activity__table-cel">
                <div class="c-real-estate-activity__table-header">
                  <div class="c-real-estate-activity__table-icon-wrap"><img src="{{asset "built/images/icon-real-estate-contract-lifecycle.svg"}}" alt="" class="c-real-estate-activity__table-icon" /></div>
                  <h4 class="c-real-estate-activity__table-title">Contract Lifecycle</h4>
                </div>
                <div class="c-real-estate-activity__table-text">Our platform lets you maintain all the records for a single property so you can access it quickly when your clients come back</div>
              </div>
            </div>
            <img
              src="{{asset "built/images/real-estate-image3x.png"}}"
              height=""
              srcset="
                images/real-estate-image3x-p-500.png   500w,
                images/real-estate-image3x-p-800.png   800w,
                images/real-estate-image3x-p-1080.png 1080w,
                images/real-estate-image3x-p-1600.png 1600w,
                images/real-estate-image3x-p-2000.png 2000w,
                images/real-estate-image3x.png        2904w
              "
              sizes="(max-width: 479px) 93vw, (max-width: 767px) 75vw, 100vw"
              alt=""
              class="image-5"
            />
            <div class="c-real-estate-activity__controls">
              <a href="/{{{block "url-prefix"}}}industries-real-estate" class="c-real-estate-activity__button c-button c-button--dark-blue w-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-legal-sector-activity">
      <div class="c-legal-sector-activity__inner h-container">
        <div class="c-legal-sector-activity__inner-2">
          <div class="c-legal-sector-activity__image-container"><img src="{{asset "built/images/legal-sector-image.svg"}}" alt="" class="c-legal-sector-activity__image" /></div>
          <div class="c-legal-sector-activity__body">
            <div class="c-legal-sector-activity__header">
              <h3 class="c-legal-sector-activity__title">The Legal Sector</h3>
            </div>
            <div class="c-legal-sector-activity__text">
              With DocuWalk a law firm or individual practitioner can finally have a secure place to not only discuss and negotiate every type of contract but also store each document alongside the communication chain that accompanies it.
              With DocuWalk, no one has access to your documents unless you give them permission. There is no AI operating in the background scanning your files so you can rest assured everything is confidential.
            </div>
            <div class="c-legal-sector-activity__table">
              <div class="c-legal-sector-activity__table-cel">
                <div class="c-legal-sector-activity__table-header">
                  <div class="c-legal-sector-activity__table-icon-wrap"><img src="{{asset "built/images/icon-legal-sector-control.svg"}}" alt="" class="c-legal-sector-activity__table-icon" /></div>
                  <h4 class="c-legal-sector-activity__table-title">Control</h4>
                </div>
                <div class="c-legal-sector-activity__table-text">With DocuWalk you have greater flexibility with who has permission to view, comment, sign, or edit documents.</div>
              </div>
              <div class="c-legal-sector-activity__table-cel">
                <div class="c-legal-sector-activity__table-header">
                  <div class="c-legal-sector-activity__table-icon-wrap"><img src="{{asset "built/images/icon-legal-sector-communication.svg"}}" alt="" class="c-legal-sector-activity__table-icon" /></div>
                  <h4 class="c-legal-sector-activity__table-title">Communication</h4>
                </div>
                <div class="c-legal-sector-activity__table-text">Manage your comments and edit history in the same files easily with our Side-by-Side negotiation feature.</div>
              </div>
            </div>
            <img src="{{asset "built/images/legal-sector-image.svg"}}" alt="" class="image-4" />
            <div class="c-legal-sector-activity__controls">
              <a href="/{{{block "url-prefix"}}}industries-legal" class="c-legal-sector-activity__button c-button c-button--dark-blue w-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-civil-and-government-activity">
      <div class="c-civil-and-government-activity__inner h-container">
        <div class="c-civil-and-government-activity__inner-2">
          <div class="c-civil-and-government-activity__image-container"><img src="{{asset "built/images/civil-n-government-image.svg"}}" alt="" class="c-civil-and-government-activity__image" /></div>
          <div class="c-civil-and-government-activity__body">
            <div class="c-civil-and-government-activity__header">
              <h3 class="c-civil-and-government-activity__title">Civil &amp; Government</h3>
            </div>
            <div class="c-civil-and-government-activity__text">
              One of our first clients was a department within a U.S. state government who needed a way to streamline their process for onboarding vendors. DocuWalk’s easy-to-use process for acknowledging and signing documents can save the
              public sector hours of staff time when it comes to managing all the partners, sub-contractors, and vendors they work with.
            </div>
            <div class="c-civil-and-government-activity__table">
              <div class="c-civil-and-government-activity__table-cel">
                <div class="c-civil-and-government-activity__table-header">
                  <div class="c-civil-and-government-activity__table-icon-wrap"><img src="{{asset "built/images/icon-civil-and-government--secure-management.svg"}}" alt="" class="c-civil-and-government-activity__table-icon" /></div>
                  <h4 class="c-civil-and-government-activity__table-title">Secure Management</h4>
                </div>
                <div class="c-civil-and-government-activity__table-text">With DocuWalk the public sector now has an easy-to-use safe and longterm storage platform for every document trail in their line of work.</div>
              </div>
              <div class="c-civil-and-government-activity__table-cel">
                <div class="c-civil-and-government-activity__table-header">
                  <div class="c-civil-and-government-activity__table-icon-wrap"><img src="{{asset "built/images/icon-civil-and-government--templates.svg"}}" alt="" class="c-civil-and-government-activity__table-icon" /></div>
                  <h4 class="c-civil-and-government-activity__table-title">Templates</h4>
                </div>
                <div class="c-civil-and-government-activity__table-text">
                  Save time and build custom forms with Template Creator. Users fill in the empty fields or choose from drop down options you provide to complete your customized forms.
                </div>
              </div>
            </div>
            <img src="{{asset "built/images/civil-n-government-image.svg"}}" alt="" class="image-3" />
            <div class="c-civil-and-government-activity__controls">
              <a href="/{{{block "url-prefix"}}}industries-government" class="c-civil-and-government-activity__button c-button c-button--dark-blue w-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
