<main class="l-main l-main--clear">
  <div class="c-guide">
    <div class="c-guide__container">
      <div class="c-guide__inner">
        <div class="c-guide__image">
          <img src="{{asset "built/images/technical-support-guide-image.svg"}}" alt="">
        </div>
        <div class="c-guide__body">
          <div class="c-guide__title">
            We’re here to guide you through even the most difficult questions and challenges
          </div>

          <div class="c-guide__controls">
            <a href="/{{{block "url-prefix"}}}faq" class="c-btn c-btn--dark-blue c-guide__button">
              Go to FAQ
            </a>
          </div>

          <!--
          <span>
            Tell us what you’re looking for
          </span>
          <form class="c-search" action="//help.docuwalk.com/kb-search-results">
            <input type="search" name="term" class="c-field c-field--search w-input" placeholder="Search" required>
          </form>
          -->
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="c-questions c-questions--technical">
    <div class="c-questions__container">
      <div class="c-questions__bg-image c-questions__bg-image--top">
        <img src="{{asset "built/images/resources-questions-bg-top.svg"}}" alt="">
      </div>
      <div class="c-questions__bg-image c-questions__bg-image--bottom">
        <img src="{{asset "built/images/resources-questions-bg-bottom.svg"}}" alt="">
      </div>

      <div class="c-questions__inner">
        <div class="c-questions__row">
          <div class="c-questions__tabs">
            <div class="c-questions__title">
              Top FAQ Questions
            </div>

            <div class="c-helper c-helper--technical">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-1" checked="checked">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-2">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-3">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-4">

              <div class="c-helper__inner">
                <div class="c-helper__labels">
                  <label for="c-helper-1" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    How do I log-in
                  </label>
                  <label for="c-helper-2" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    How do I Negotiate A contract?
                  </label>
                  <label for="c-helper-3" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    What is a blockchain signature?
                  </label>
                  <label for="c-helper-4" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    Can I use this for documents?
                  </label>
                </div>

                <div class="c-helper__tabs">
                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      Lorem:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      To Negotiate a contract:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      Ipsum:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      Donor:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-questions__redirection">
            <div class="c-questions__text">
              Check out our FAQ for the answers to all your questions.
            </div>
            <a href="//help.docuwalk.com/" class="c-btn c-btn--light-green c-questions__button">
              Go to our FAQ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <!--
  <div class="c-tutorial">
    <div class="c-tutorial__container">
      <div class="c-tutorial__inner">
        <div class="c-tutorial__body">
          <div class="c-tutorial__title">
            We offer a large library of training and tutorials. Learn the ropes with these quick start videos
          </div>
          <div class="c-tutorial__controls">
            <a class="c-btn c-btn--light-green c-tutorial__button" href="/{{{block "url-prefix"}}}training-and-tutorials">
              GO TO Tutorials
            </a>
          </div>
        </div>
        <div class="c-tutorial__movies">
          <div class="c-tutorial__movie">
            <div class="c-tutorial__movie--substrate">
              <a href="javascript:void(0)" class="c-tutorial__movie--thumbnail">
                <img class="c-tutorial__movie--preview" src="{{asset "built/images/player.svg"}}" alt="Get Started - Quick Guide">
                <img class="c-tutorial__movie--button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-tutorial__movie--title">
              Get Started - Quick Guide
            </div>
          </div>
          <div class="c-tutorial__movie">
            <div class="c-tutorial__movie--substrate">
              <a href="javascript:void(0)" class="c-tutorial__movie--thumbnail">
                <img class="c-tutorial__movie--preview" src="{{asset "built/images/player.svg"}}" alt="How Invite Colaborators">
                <img class="c-tutorial__movie--button" src="{{asset "built/images/play-button.svg"}}" alt="">
              </a>
            </div>
            <div class="c-tutorial__movie--title">
              How Invite Colaborators
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="c-ticket" id="help">
    <div class="c-ticket__container">
      <div class="c-ticket__inner">
        <div class="c-ticket__body">
          <div class="c-ticket__image">
            <img src="{{asset "built/images/technical-support-ticket-image.svg"}}" alt="">
          </div>
          <div class="c-ticket__content">
            <div class="c-ticket__title">
              Submit Help Ticket
            </div>

            <div class="c-ticket__text">
              <div>
                Sometimes the water gets deep. Our Customer Service lifeguards are here to help you with any question you might have.
              </div>

              <p>
                Or if you have an immediate support need call DocuWalk Support
              </p>

              <p>
                <b>Live support 8am to 10pm ET</b>
              </p>
            </div>

            <div class="c-ticket__contact">
              <div class="c-contact">
                <div class="c-contact__inner">
                  <div class="c-contact__item">
                    <div class="c-contact__block">
                      <div class="c-contact__row">
                        <a class="c-contact__link" href="tel:+18337817705">
                          +1 (833) 781-7705
                        </a>
                        (Toll free: US &amp; Canada)
                      </div>
                      <div class="c-contact__row">
                        <a class="c-contact__link" href="tel:+16464354459">
                          +1 (646) 435-4459
                        </a>
                        (International)
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-ticket__form">
          <!--
          <form class="c-form" id="wf-form-helpTicket" name="wf-form-helpTicket" data-name="helpTicket" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">


              <div class="c-form__row c-form__row--2">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="First Name" class="c-field w-input" required>
                </div>
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="lastName" data-name="lastName" placeholder="Last Name" class="c-field w-input" required>
                </div>
              </div>

              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                </div>
              </div>

              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" required></textarea>
                </div>
              </div>

              <div class="c-form__row c-form__row--1">
                <div class="c-form__col c-form__col--flex-end">
                  <input type="submit" value="Submit" data-wait="Please wait..." class="c-btn c-btn--light-blue c-btn--min w-button">
                  <input type="text" value="helpTicket" maxlength="20" name="formName" hidden readonly required>
                </div>
              </div>
            </div>
          </form>
          -->

          {{> "support-form-js"}}
        </div>
      </div>
    </div>
  </div>
</main>
