<main class="c-main">
  <div class="c-small-business-top">
    <div class="c-small-business-top__inner h-container">
      <div class="c-small-business-top__inner-2">
        <div class="c-small-business-top__image-wrap">
          <img src="{{asset "built/images/small-business-top-image.svg"}}" alt="" class="c-small-business-top__image" />
        </div>
        <div class="c-small-business-top__body">
          <div class="c-small-business-top__header">
            <h2 class="c-small-business-top__title">
              Enterprise document and contract software shouldn’t just be for big businesses.
            </h2>
          </div>
          <div class="c-small-business-top__content">
            We know the challenges of running a small business day to day. We built DocuWalk to take the burden of dealing with all the documents and contracts off your plate by simplifying the process.
            <br />
            <br />
            Never lose track of signed or unsigned contracts or worry about misplacing a company document again.
          </div>
          <div class="c-small-business-top__controls">
            <a href="#learn" class="c-small-business-top__learn-more-button c-button c-button--dark-blue w-button">
              Learn more
            </a>
            <a href="/{{{block "url-prefix"}}}pricing" class="c-small-business-top__get-started-button c-button c-button--transparent w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="c-small-business-features">
    <div class="c-small-business-features__inner h-container">
      <div class="c-small-business-features__inner-2">
        <div class="c-small-business-features__image-wrap">
          <img src="{{asset "built/images/small-business-feature-image-2.svg"}}" alt="" class="c-small-business-features__image" />
        </div>
        <div class="c-small-business-features__body">
          <div class="c-small-business-features__header">
            <h3 class="c-small-business-features__title">
              Paperwork is the last thing that should slow you down. Take control and focus on serving your clients.
            </h3>
          </div>
          <div class="c-small-business-features__content">
            <div class="c-features-table">
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-efficiency.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Efficiency
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Streamline your workflow by managing all your documents and contracts in one place.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-templates.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Templates
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Maximize profits by creating data-rich templates that let you speed through contracts.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-stay-organized.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Stay Organized
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Don’t worry about trying to keep track of documents and contracts, we’ll do that for you!
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-verified-signatures.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Verified Signatures
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Industry leading blockchain secured signatures.
                </div>
              </div>
            </div>
            <img src="{{asset "built/images/small-business-feature-image-2.svg"}}" alt="" class="c-small-business-features__image-2" />
          </div>

          <div class="c-small-business-features__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-small-business-features__button c-button c-button--light-blue w-button">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-small-bussiness-specific-highlight">
    <div class="c-small-bussiness-specific-highlight__inner h-container">
      <div class="c-small-bussiness-specific-highlight__inner-2">
        <div class="c-small-bussiness-specific-highlight__image-wrap">
          <img src="{{asset "built/images/small-business-Industry-specific-customer-highlight-image-2.svg"}}" alt="" class="c-small-bussiness-specific-highlight__image" />
        </div>
        <div class="c-small-bussiness-specific-highlight__body">
          <div class="c-small-bussiness-specific-highlight__header">
            <h3 class="c-small-bussiness-specific-highlight__title">
              <span class="c-small-bussiness-specific-highlight__title-sup">
                Customer Spotlight
              </span>
              Genesis Block
            </h3>
          </div>
          <div class="c-small-bussiness-specific-highlight__content">
            <div>
              <div>
                “DocuWalk provides greater freedom without sacrificing security or privacy. Its cutting-edge features help employees carry out necessary tasks relating to documents and contracts in a more efficient manner, from anywhere
                there is Internet access. Cumbersome processes such as back and forth emails or having to re-enter the same data are a thing of the past. The DocuWalk toolkit helps us negotiate in real time and streamline workflow on
                multiple levels.”
              </div>
              <div class="text-block-13">
                Samuel E. Proctor, <br />
                Chief Executive Officer, <br />
                Genesis Block
              </div>
            </div>
          </div>
          <div class="c-small-bussiness-specific-highlight__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-small-bussiness-specific-highlight__button c-button c-button--dark-blue w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
