<main class="l-main l-main--pt-0 l-main--clear">
  <div class="l-row l-row--impact l-row--pr-pl">
    <div class="c-impact">
      <div class="c-impact__title">
        Big Impact Headline
      </div>
      <div class="c-impact__img">
        <img src="{{asset "built/images/table.svg"}}" alt="">
      </div>
    </div>
  </div>

  <div class="c-pr">
    <div class="c-pr__container">
      <div class="c-pr__inner">
        <div class="c-pr__content">
          <div class="c-pr__title">
            Media & PR Contact
          </div>
          <div class="c-pr__desc">
            Ex sea causae dolores, nam et doming dicunt feugait scripta aperiri postulant sed affert audire, no alienum quaestio mea.
          </div>
          <div class="c-pr__employee">
            <div class="c-employee">
              <div class="c-employee__avatar">

              </div>
              <div class="c-employee__details">
                <div class="c-employee__name">
                  Sebastian Bennett
                </div>
                <div class="c-employee__position">
                  Media Contact
                </div>
                <div class="c-employee__email">
                  <a href="mailto:info@company.com" target="_blank">
                    info@company.com
                  </a>
                </div>
                <div class="c-employee__phone">
                  <a href="tel:info@company.com">
                    +1 (888) 300-5000
                  </a>
                </div>
                <div class="c-employee__social">
                  <nav class="c-sharing">
                    <a href="//www.facebook.com/DocuWalk-103887751350709/" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-facebook.svg"}}" alt="" />
                    </a>
                    <a href="//twitter.com/docuwalk" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-twitter.svg"}}" alt="" />
                    </a>
                    <a href="//www.instagram.com/docuwalk" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-instagram.svg"}}" alt=""/>
                    </a>
                    <a href="//www.linkedin.com/company/docuwalk" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-linkedin.svg"}}" alt=""/>
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-pr__form">
          <form class="c-form" id="wf-form-contactPR" name="wf-form-contactPR" data-name="contactPR" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <div class="c-form__title">
                    Reach out Directly
                  </div>
                </div>
              </div>
              <div class="c-form__row c-form__row--2">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="Name" class="c-field w-input" required>
                </div>
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="company" data-name="company" placeholder="Company" class="c-field w-input" required>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" required></textarea>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col c-form__col--flex-end">
                  <input type="submit" value="Connect" data-wait="Please wait..." class="c-btn c-btn--yellow c-btn--min w-button">
                  <input type="text" value="contactPR" maxlength="20" name="formName" hidden readonly required>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="l-row l-row--m-0 l-row--learn">
    <div class="c-learn">
      <div class="c-learn__inner">
        <div class="c-learn__grid">
          <div class="c-learn__grid--item">
            <div class="c-learn__grid--img">
              <img src="{{asset "built/images/box.png"}}" alt="">
            </div>
            <div class="c-learn__grid--title">
              Download our media kit
            </div>
            <div class="c-learn__grid--desc">
              For executive company information, bios and headshots.
            </div>
            <div class="c-learn__grid--button">
              Download
            </div>
          </div>
          <div class="c-learn__grid--item">
            <div class="c-learn__grid--img">
              <img src="{{asset "built/images/stationery.png"}}" alt="">
            </div>
            <div class="c-learn__grid--title">
              Download our style guide
            </div>
            <div class="c-learn__grid--desc">
              For examples of the DocuWalk software experience, logos and graphics.
            </div>
            <div class="c-learn__grid--button">
              Download
            </div>
          </div>
        </div>
        <div class="c-learn__content">
          <div class="c-learn__title">
            Learn what makes our platform so special!
          </div>
          <div class="c-learn__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-recent">
    <div class="c-recent__container">
      <div class="c-recent__inner">
        <div class="c-recent__title">
          Recent News
        </div>
        <div class="c-recent__body">
          <div class="c-recent__list">
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Future of Contracts
              </a>
              <div class="c-recent__list--date">
                20 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Digital trends in next 2020
              </a>
              <div class="c-recent__list--date">
                18 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                New DocuWalk Feature Released
              </a>
              <div class="c-recent__list--date">
                15 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Future of Contracts
              </a>
              <div class="c-recent__list--date">
                20 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Winner of the App of the year award
              </a>
              <div class="c-recent__list--date">
                14 august 2019
              </div>
            </div>
          </div>

          <div class="c-recent__grid">
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
