<main class="l-main l-main--clear">
  <div class="c-headline">
    <div class="c-headline__container">
      <div class="c-headline__inner">
        <div class="c-headline__body">
          <div class="c-headline__title">
            Investor Relations Headline
          </div>
          <div class="c-headline__content">
            Choosing the right path to walk down with your business software can make all the difference in your business
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-stats">
    <div class="c-stats__container">
      <div class="c-stats__inner">
        <div class="c-stats__image">
          <img src="{{asset "built/images/investor-relations-stats-image.svg"}}" alt="">
        </div>

        <div class="c-stats__body">
          <div class="c-stats__title">
            Some Great Stats That Make $$$
          </div>

          <div class="c-stats__content">
            Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos. Mazim nemore singulis an ius, nullam ornatus nam ei.
          </div>

          <div class="c-stats__title c-stats__title--small">
            There are many reasons to get down
          </div>

          <div class="c-stats__content c-stats__content--small">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>

          <div class="c-stats__grid">
            <div class="c-stats__grid--item">
              <div class="c-stats__grid--top">
                42+
              </div>
              Ea sed vivendo offendit persecuti
            </div>
            <div class="c-stats__grid--item">
              <div class="c-stats__grid--top">
                73+
              </div>
              Debet molestiae constituto ne
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-reports">
    <div class="c-reports__container">
      <div class="c-reports__inner">
        <div class="c-reports__body">
          <div class="c-reports__title">
            Most recent corporate reports
          </div>
          <div class="c-reports__content">
            <div class="c-reports__grid">
              <a href="javascript:void(0)" class="c-reports__grid--item">
                <div class="c-reports__grid--date">
                  20 august 2019
                </div>
                <div class="c-reports__grid--title">
                  Anual Report
                </div>
                <div class="c-reports__grid--user">
                  Ainara Vergara
                </div>
              </a>

              <a href="javascript:void(0)" class="c-reports__grid--item">
                <div class="c-reports__grid--date">
                  18 august 2019
                </div>
                <div class="c-reports__grid--title">
                  Corporate Governance
                </div>
                <div class="c-reports__grid--user">
                  Jontray Arnold
                </div>
              </a>

              <a href="javascript:void(0)" class="c-reports__grid--item">
                <div class="c-reports__grid--date">
                  15 august 2019
                </div>
                <div class="c-reports__grid--title">
                  2020 user growth summary
                </div>
                <div class="c-reports__grid--user">
                  Cardarion Hart
                </div>
              </a>

              <a href="javascript:void(0)" class="c-reports__grid--item">
                <div class="c-reports__grid--date">
                  18 august 2019
                </div>
                <div class="c-reports__grid--title">
                  Q3 Earnings Report
                </div>
                <div class="c-reports__grid--user">
                  Jontray Arnold
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-recent">
    <div class="c-recent__container">
      <div class="c-recent__inner">
        <div class="c-recent__title">
          Recent News
        </div>
        <div class="c-recent__body">
          <div class="c-recent__list">
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Future of Contracts
              </a>
              <div class="c-recent__list--date">
                20 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Digital trends in next 2020
              </a>
              <div class="c-recent__list--date">
                18 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                New DocuWalk Feature Released
              </a>
              <div class="c-recent__list--date">
                15 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Future of Contracts
              </a>
              <div class="c-recent__list--date">
                20 august 2019
              </div>
            </div>
            <div class="c-recent__list--item">
              <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__list--title">
                Winner of the App of the year award
              </a>
              <div class="c-recent__list--date">
                14 august 2019
              </div>
            </div>
          </div>

          <div class="c-recent__grid">
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
            <a href="/{{{block "url-prefix"}}}news-detail" class="c-recent__grid--item">
              <div class="c-recent__grid--img">
                <img src="{{asset "built/images/business-concepts-two-men-are-consulting-a-busines-PK3YZUA@3x.png"}}" alt="">
              </div>
              <div class="c-recent__grid--title">
                Bloomberg
              </div>
              <div class="c-recent__grid--date">
                13 august 2019
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
