<main class="c-main">
  <div class="c-legal-top">
    <div class="c-legal-top__inner h-container">
      <div class="c-legal-top__inner-2">
        <div class="c-legal-top__image-wrap">
          <img src="{{asset "built/images/legal-top-image.svg"}}" alt="" class="c-legal-top__image" />
        </div>
        <div class="c-legal-top__body">
          <div class="c-legal-top__header">
            <h2 class="c-legal-top__title">
              Keep track of all your client records contracts &amp; documents
            </h2>
          </div>
          <div class="c-legal-top__content">
            With DocuWalk, client files can all be kept in one place, protected by industry leading blockchain security. Control access with file level security and track client changes and requests. With DocuWalk having to pass files
            around is a thing of the past. And with the most verifiable signatures in the industry you can know your clients are protected.
          </div>
          <div class="c-legal-top__controls">
            <a href="#learn" class="c-legal-top__learn-more-button c-button c-button--dark-blue w-button">
              Learn more
            </a>
            <a href="/{{{block "url-prefix"}}}pricing" class="c-legal-top__get-started-button c-button c-button--transparent w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="c-legal-features">
    <div class="c-legal-features__inner h-container">
      <div class="c-legal-features__inner-2">
        <div class="c-legal-features__image-wrap">
          <div class="c-legal-features__image-wrap-inner">
            <img src="{{asset "built/images/legal-features-image.svg"}}" alt="" class="c-legal-features__image" />
          </div>
        </div>
        <div class="c-legal-features__body">
          <div class="c-legal-features__header">
            <h3 class="c-legal-features__title">Finally a platform that allows you and your clients to work together for all their legal needs.</h3>
          </div>
          <div class="c-legal-features__content">
            <div class="c-features-table">
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-privacy.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Privacy
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Everything you create is only accessible by you and your clients or associates you give permission to.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-secure-communication.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Secure Communication
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Keep track of communication within the same file as the document or contract with our secure file based messaging.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-negotiations.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Negotiations
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Negotiate and discuss contracts in real time with our Side-By-Side negotiation feature.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-security-standards.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Encrypted Everything
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Store every piece of communication and document versions in the same file for secure, long-term safekeeping.
                </div>
              </div>
            </div>
            <img src="{{asset "built/images/legal-features-image.svg"}}" alt="" class="c-legal-features__image-2" />
          </div>

          <div class="c-legal-features__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-legal-features__button c-button c-button--light-blue w-button">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-legal-specific-highlight">
    <div class="c-legal-specific-highlight__inner h-container">
      <img src="{{asset "built/images/legal-industry-specific-customer-highlight-bg-2.svg"}}" alt="" class="c-legal-specific-highlight__bg-image" />
      <div class="c-legal-specific-highlight__inner-2">
        <div class="c-legal-specific-highlight__image-wrap">
          <img src="{{asset "built/images/legal-Industry-specific-customer-highlight-image.svg"}}" alt="" class="c-legal-specific-highlight__image" />
        </div>
        <div class="c-legal-specific-highlight__body">
          <div class="c-legal-specific-highlight__header">
            <h3 class="c-legal-specific-highlight__title">
              <span class="c-legal-specific-highlight__title-sup">
                Customer Spotlight
              </span>
              Seward & Kissel LLP
            </h3>
          </div>
          <div class="c-legal-specific-highlight__content">
            <div>
              <div>
                “These past few months have shown us how real the possibility of major disruptions to travel is and how it can impact business, both at the local and global level. The solution provided by ShelterZoom has the potential to
                facilitate business and commerce on numerous levels and thus provide tools that businesses can use during a major event such as the current pandemic that affects the ability to interact in the real as opposed to the digital
                world.”
              </div>
              <div class="text-block-11">
                Anthony Tu-Sekine, <br />
                Partner, <br />
                Seward & Kissel LLP
              </div>
            </div>
          </div>
          <div class="c-legal-specific-highlight__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-legal-specific-highlight__button c-button c-button--dark-blue w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
