<main class="l-main l-main--clear">
  <div class="c-expert">
    <div class="c-expert__container">
      <div class="c-expert__inner">
        <div class="c-expert__image">
          <img src="{{asset "built/images/resources-expert-image.svg"}}" alt="">
        </div>

        <div class="c-expert__body">
          <div class="c-expert__title">
            We are here to help get you started or help you become a power user, just ask!
          </div>
          <div class="c-expert__content">
            <a href="/{{{block "url-prefix"}}}faq" class="c-btn c-btn--dark-blue c-expert__button">
              Go to FAQ
            </a>

            <!--
            <span>
              Tell us what you’re looking for
            </span>
            <form class="c-search" action="//help.docuwalk.com/kb-search-results">
              <input type="search" name="term" class="c-field c-field--search w-input" placeholder="Search" required>
            </form>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-support">
    <div class="c-support__container">
      <div class="c-support__inner">
        <div class="c-support__image">
          <img src="{{asset "built/images/resources-support-image.svg"}}" alt="">
        </div>

        <div class="c-support__body">
          <div class="c-support__title">
            Let us help you pick the right path to support.
          </div>
          <div class="c-support__content">
            <div class="c-support__grid">
              <div class="c-support__way">
                <div class="c-support__way--image">
                  <img src="{{asset "built/images/resources-support-map-icon.svg"}}" alt="">
                </div>
                <div class="c-support__way--title">
                  Need Some Direction?
                </div>
                <div class="c-support__way--desc">
                  Check out our tutorials and FAQ to get answers to the most common questions and view tips on how to make the most of DocuWalk
                </div>
                <div class="c-support__way--action">
                  <a href="/{{{block "url-prefix"}}}faq" class="c-support__way--link">
                    Click to learn more
                  </a>
                </div>
              </div>
              <div class="c-support__way">
                <div class="c-support__way--image">
                  <img src="{{asset "built/images/resources-support-envelope-icon.svg"}}" alt="">
                </div>
                <div class="c-support__way--title">
                  Need more help?
                </div>
                <div class="c-support__way--desc">
                  Send us a note or chat with one of our customer service professionals . We’ll be happy to walk you through any questions you might have.
                </div>
                <div class="c-support__way--action">
                  <a href="/{{{block "url-prefix"}}}customer-service#help" class="c-support__way--link">
                    Send email
                  </a>
                </div>
              </div>
              <div class="c-support__way">
                <div class="c-support__way--image">
                  <img src="{{asset "built/images/resources-support-call-icon.svg"}}" alt="">
                </div>
                <div class="c-support__way--title">
                  Support
                </div>
                <div class="c-support__way--desc">
                  We are always willing to hear from out users, if you’d like to talk to our support staff just give us a ring!
                </div>
                <div class="c-support__way--action">
                  <a href="/{{{block "url-prefix"}}}customer-service#help" class="c-support__way--link">
                    Call Us
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="c-questions">
    <div class="c-questions__container">
      <div class="c-questions__bg-image c-questions__bg-image--top">
        <img src="{{asset "built/images/resources-questions-bg-top.svg"}}" alt="">
      </div>
      <div class="c-questions__bg-image c-questions__bg-image--bottom">
        <img src="{{asset "built/images/resources-questions-bg-bottom.svg"}}" alt="">
      </div>

      <div class="c-questions__inner">
        <div class="c-questions__row">
          <div class="c-questions__tabs">
            <div class="c-questions__title">
              Top FAQ Questions
            </div>

            <div class="c-helper">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-1" checked="checked">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-2">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-3">
              <input class="c-helper__radio" type="radio" name="c-helper" id="c-helper-4">

              <div class="c-helper__inner">
                <div class="c-helper__labels">
                  <label for="c-helper-1" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    How do I log-in
                  </label>
                  <label for="c-helper-2" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    How do I Negotiate A contract?
                  </label>
                  <label for="c-helper-3" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    What is a blockchain signature?
                  </label>
                  <label for="c-helper-4" class="c-helper__label">
                    <span class="c-helper__plus"></span>
                    What is a blockchain signature?
                  </label>
                </div>

                <div class="c-helper__tabs">
                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      Lorem:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      To Negotiate a contract:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      Ipsum:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <div class="c-helper__tab">
                    <div class="c-helper__title">
                      Donor:
                    </div>
                    <div class="c-helper__content">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-questions__redirection">
            <div class="c-questions__text">
              Check out our FAQ for the answers to all your questions.
            </div>
            <a href="/{{{block "url-prefix"}}}faq" class="c-btn c-btn--light-blue c-questions__button">
              Go to FAQ
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="c-developer">
    <div class="c-developer__container">
      <div class="c-developer__inner">
        <div class="c-developer__image">
          <img src="{{asset "built/images/resources-developer-image.svg"}}" alt="">
        </div>

        <div class="c-developer__body">
          <div class="c-developer__header">
            <div class="c-developer__icon-wrap">
              <img src="{{asset "built/images/docuwalk-left.svg"}}" alt="">
            </div>
            <div class="c-developer__title">
              Join our developer programs and use our platform to build the tools you always dreamed of
            </div>
          </div>
          <div class="c-developer__content">
            DocuWalk can do even more than we have already built. If you see a use for DocuWalk, dive right in! Join our Developer Program to make full use of the tools to create your own bespoke platform.
          </div>

          <!--
          <div class="c-developer__controls">
            <a href="/{{{block "url-prefix"}}}developer-program" class="c-btn c-btn--dark-blue c-developer__button">
              Learn More
            </a>
          </div>
        -->

        <div class="c-developer__form">
          <div class="c-developer__form--title">
            Coming Soon - Sign up now
          </div>

          <form class="c-form" id="wf-form-certificationRequest" name="wf-form-certificationRequest" data-name="certificationRequest" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">
              <div class="c-form__row c-form__row--2">
                <div class="c-form__col">
                  <input maxlength="70" name="firstName" data-name="firstName" placeholder="First Name" class="c-field w-input" required="">
                </div>
                <div class="c-form__col">
                  <input maxlength="70" name="lastName" data-name="lastName" placeholder="Last Name" class="c-field w-input" required="">
                </div>
              </div>

              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required="">
                </div>
              </div>

              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="submit" value="Sign Up" data-wait="Please wait..." class="c-btn c-btn--dark-blue c-btn--min w-button">
                  <input value="certificationRequest" maxlength="20" name="formName" hidden="" readonly="readonly" required="">
                </div>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-partner">
    <div class="c-partner__container">
      <div class="c-partner__inner">
        <div class="c-partner__image">
          <img src="{{asset "built/images/resources-partner-image.svg"}}" alt="">
        </div>

        <div class="c-partner__body">
          <div class="c-partner__title">
            Learn about our partner programs and get extra features rewards only for partners
          </div>
          <div class="c-partner__content">
            We wouldn’t be where we are without support from our partners who help get the word out about DocuWalk. If you or your organization uses DocuWalk frequently and want to earn rewards by helping to bring on more users, get in touch to find out more about our Partner program.
          </div>
          <div class="c-partner__bottom">
            <ul class="c-partner__list">
              <li>Earn rewards and incentives</li>
              <li>VIP access to new tools and technology</li>
              <li>Special partner resources, training and materials</li>
              <li>Priority partner support</li>
            </ul>

            <div class="c-partner__controls">
              <a href="/{{{block "url-prefix"}}}partner-program" class="c-btn c-btn--dark-blue c-partner__button">
                Learn More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-community">
    <div class="c-community__container">
      <div class="c-community__inner">
        <div class="c-community__image">
          <img src="{{asset "built/images/resources-community-image.svg"}}" alt="">
        </div>

        <div class="c-community__body">
          <div class="c-community__title">
            Become a certified DocuWalk Expert and join our community of certified experts to assist other clients.
          </div>
          <div class="c-community__content">
            Ready to become a DocuWalk expert? Join our training session and get to know all the features and ways to use DocuWalk for your business and daily life.
          </div>

          <div class="c-community__form">
            <div class="c-community__form--title">
              Coming Soon - Sign up now
            </div>

            <form class="c-form" id="wf-form-certificationRequest-2" name="wf-form-certificationRequest" data-name="certificationRequest" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
              <div class="c-form__inner">
                <div class="c-form__row c-form__row--2">
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="First Name" class="c-field w-input" required>
                  </div>
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="lastName" data-name="lastName" placeholder="Last Name" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="submit" value="Sign Up" data-wait="Please wait..." class="c-btn c-btn--dark-blue c-btn--min w-button">
                    <input type="text" value="certificationRequest" maxlength="20" name="formName" hidden readonly required>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
