<main class="l-main l-main--clear">
  <div class="c-enterprise">
    <div class="c-enterprise__container">
      <div class="c-enterprise__inner">
        <div class="c-enterprise__image">
          <img src="{{asset "built/images/enterprise-image.svg"}}" alt="">
        </div>
        <div class="c-enterprise__body">
          <div class="c-enterprise__title">
            Built for enterprise from the ground up
          </div>
          <div class="c-enterprise__content">
            Our platform was built with you and your organization in mind. We are no stranger to all the complexities of both small and large enterprises. With enhanced features for enterprise users and advanced user management it’s easy to build teams, working groups and keep everyone informed. No more having to pass documents around via email. Now your teams can collaborate on documents, get them approved and out to the recipients all from one place.
          </div>
          <div class="c-enterprise__grid">
            <div class="c-enterprise__grid--item">
              <div class="c-enterprise__grid--header">
                <div class="c-enterprise__grid--icon-wrap">
                  <img src="{{asset "built/images/icon-enterprise-enterprise-security.svg"}}" alt="" class="c-enterprise__grid--icon">
                </div>
                <h4 class="c-enterprise__grid--title">
                  Enterprise Security
                </h4>
              </div>
              <div class="c-enterprise__grid--content">
                With our leading platform security our platform reduces fraud with enhanced identity and tracking.
              </div>
            </div>

            <div class="c-enterprise__grid--item">
              <div class="c-enterprise__grid--header">
                <div class="c-enterprise__grid--icon-wrap">
                  <img src="{{asset "built/images/icon-enterprise-built-for-teams.svg"}}" alt="" class="c-enterprise__grid--icon">
                </div>
                <h4 class="c-enterprise__grid--title">
                  Built For Teams
                </h4>
              </div>
              <div class="c-enterprise__grid--content">
                Manage your entire team with our group user management and file level permissions. Control individual roles, rights and access.
              </div>
            </div>

            <div class="c-enterprise__grid--item">
              <div class="c-enterprise__grid--header">
                <div class="c-enterprise__grid--icon-wrap">
                  <img src="{{asset "built/images/icon-enterprise-collaboration.svg"}}" alt="" class="c-enterprise__grid--icon">
                </div>
                <h4 class="c-enterprise__grid--title">
                  Collaboration
                </h4>
              </div>
              <div class="c-enterprise__grid--content">
                Keeping everyone in the loop and engaged is key to efficient business. Our collaboration tools and messaging allow your teams to work together in realtime.
              </div>
            </div>

            <div class="c-enterprise__grid--item">
              <div class="c-enterprise__grid--header">
                <div class="c-enterprise__grid--icon-wrap">
                  <img src="{{asset "built/images/icon-enterprise-custom-branding.svg"}}" alt="" class="c-enterprise__grid--icon">
                </div>
                <h4 class="c-enterprise__grid--title">
                  Custom Branding
                </h4>
              </div>
              <div class="c-enterprise__grid--content">
                We know your brand is important and we’d like to make sure it shines, with company logos integrated throughout all your communications
              </div>
            </div>
          </div>
          <div class="c-enterprise__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-btn c-btn--dark-blue c-enterprise__button">
              Get Started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-features">
    <div class="c-features__container">
      <div class="c-features__inner">
        <div class="c-features__image">
          <img src="{{asset "built/images/enterprise-features-image.svg"}}" alt="">
        </div>
        <div class="c-features__body">
          <div class="c-features__item">
            <div class="c-features__header">
              <div class="c-features__icon-wrap">
                <img src="{{asset "built/images/icon-features-templates.svg"}}" alt="" class="c-features__icon">
              </div>
              <div class="c-features__title">
                Templates
              </div>
            </div>
            <div class="c-features__content">
              Maximize profits by creating data-rich templates that let you speed through contracts.
            </div>
          </div>
          <div class="c-features__item">
            <div class="c-features__header">
              <div class="c-features__icon-wrap">
                <img src="{{asset "built/images/icon-features-privacy-is-paramount.svg"}}" alt="" class="c-features__icon">
              </div>
              <div class="c-features__title">
                Privacy is paramount
              </div>
            </div>
            <div class="c-features__content">
              Your information is yours and yours only. No AI analyzing your data for profit.
            </div>
          </div>
          <div class="c-features__item">
            <div class="c-features__header">
              <div class="c-features__icon-wrap">
                <img src="{{asset "built/images/icon-features-secure-communication.svg"}}" alt="" class="c-features__icon">
              </div>
              <div class="c-features__title">
                Secure Communication
              </div>
            </div>
            <div class="c-features__content">
              Keep track of communication within the same file as the document or contract with our secure file based messaging.
            </div>
          </div>
          <div class="c-features__item">
            <div class="c-features__header">
              <div class="c-features__icon-wrap">
                <img src="{{asset "built/images/icon-features-peace-of-mind.svg"}}" alt="" class="c-features__icon">
              </div>
              <div class="c-features__title">
                Peace of Mind
              </div>
            </div>
            <div class="c-features__content">
              With DocuWalk you don’t have to worry about whether or not someone has changed the fine print without your approval.
            </div>
          </div>
          <div class="c-features__item">
            <div class="c-features__header">
              <div class="c-features__icon-wrap">
                <img src="{{asset "built/images/icon-features-contract-lifecycle.svg"}}" alt="" class="c-features__icon">
              </div>
              <div class="c-features__title">
                Contract Lifecycle
              </div>
            </div>
            <div class="c-features__content">
              Our platform lets you maintain all the records for a single property so you can access it quickly when your clients come back.
            </div>
          </div>
          <div class="c-features__item">
            <div class="c-features__header">
              <div class="c-features__icon-wrap">
                <img src="{{asset "built/images/icon-features-encrypted-everything.svg"}}" alt="" class="c-features__icon">
              </div>
              <div class="c-features__title">
                Encrypted Everything
              </div>
            </div>
            <div class="c-features__content">
              Store every piece of communication and document versions in the same file for secure, long-term safekeeping.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-get-more">
    <div class="c-get-more__container">
      <div class="c-get-more__inner">
        <div class="c-get-more__image">
          <img src="{{asset "built/images/enterprise-get-more-image.svg"}}" alt="">
        </div>
        <div class="c-get-more__body">
          <div class="c-get-more__title">
            Get more from enterprise
          </div>
          <div class="c-get-more__content">
            <div class="c-tab">
              <input type="radio" name="c-tab" hidden checked id="c-tab-1">
              <label class="c-tab__nav" for="c-tab-1" data-title="Workspace"></label>
              <div class="c-tab__content">
                We know you’ve dreamed of having your entire team in one centralized tool. We have too, and that’s why we built DocuWalk with team and remote workforces in mind. No matter where your team is located they all come together in our online secure workspace to build and collaborate documents, contracts, forms and templates.
              </div>

              <input type="radio" name="c-tab" hidden id="c-tab-2">
              <label class="c-tab__nav" for="c-tab-2" data-title="Efficiency"></label>
              <div class="c-tab__content">
                Don't waste your time chasing down loose ends or tracking down information. With DocuWalk you can keep all the documentation, including chat threads and multimedia, in the same place inside your personal library. You can also save time by transporting data across contracts so you decrease the likelihood of mistakes while saving time.
              </div>

              <input type="radio" name="c-tab" hidden id="c-tab-3">
              <label class="c-tab__nav" for="c-tab-3" data-title="Security"></label>
              <div class="c-tab__content">
                Your information is for you and the people you give permission to and no one else. We don't have AI scanning your text, data, or any other information. All your information is private. Tokenization and blockchain-based signatures add extra layers of security so you know nothing has been tampered with.
              </div>

              <input type="radio" name="c-tab" hidden id="c-tab-4">
              <label class="c-tab__nav" for="c-tab-4" data-title="Collaboration"></label>
              <div class="c-tab__content">
                Seamless collaboration between employees used to require in-person communication at some point in the process. Not with DocuWalk. Now your team members can complete a complex project from beginning to end without missing a beat. Communication from start to finish has never been easier.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-program">
    <div class="c-program__container">
      <div class="c-program__inner">
        <div class="c-program__left">
          <div class="c-program__image">
            <img src="{{asset "built/images/enterprise-program-image.svg"}}" alt="">
          </div>

          <div class="c-program__left-content">
            <ul class="c-program__list c-program__list--check">
              <li>Earn rewards and incentives</li>
              <li>VIP access to new tools</li>
              <li>Special partner resources</li>
              <li>Priority partner support</li>
              <li>And much more!</li>
            </ul>

            <div class="c-program__controls">
              <a href="/{{{block "url-prefix"}}}partner-program" class="c-btn c-btn--dark-blue">
                Learn More
              </a>
            </div>
          </div>
        </div>

        <div class="c-program__right">
          <div class="c-program__title">
            Join our partner program!
          </div>

          <div class="__content">
            There are many reasons to sign up for our partner program. Sign up now to have one of our partner specialists contact you about how you can be a Docuwalk Partner.
          </div>

          <div class="c-program__form">
            <form class="c-form" id="wf-form-partnerProgram" name="wf-form-partnerProgram" data-name="partnerProgram" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
              <div class="c-form__inner">
                <div class="c-form__row c-form__row--2">
                  <div class="c-form__col">
                    <input maxlength="70" name="firstName" data-name="firstName" placeholder="First Name" class="c-field w-input" required>
                  </div>
                  <div class="c-form__col">
                    <input maxlength="70" name="lastName" data-name="lastName" placeholder="Last Name" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--2">
                  <div class="c-form__col">
                    <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                  </div>
                  <div class="c-form__col">
                    <input type="tel" maxlength="17" name="phone" data-name="phone" placeholder="Phone" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="company" data-name="company" placeholder="Company Name" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="text" maxlength="70" name="programInterest" data-name="programInterest" placeholder="Program Interest: (Affiliate, Referral, Development, Corporate Partner)" class="c-field w-input" required>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" spellcheck="false" required></textarea>
                  </div>
                </div>

                <div class="c-form__row c-form__row--1">
                  <div class="c-form__col">
                    <input type="submit" value="Join Us" data-wait="Please wait..." class="c-btn c-btn--dark-green c-btn--min w-button">
                    <input type="text" value="partnerProgram" maxlength="20" name="formName" hidden readonly required>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>