<main class="l-main l-main--clear">
  <div class="c-development">
    <div class="c-development__container">
      <div class="c-development__inner">
        <div class="c-development__image">
          <img src="{{asset "built/images/developers-development-image.svg"}}" alt="">
        </div>
        <div class="c-development__body">
          <div class="c-development__title">
            Download our SDK or connect to Our API’s to make DocuWalk work for you
          </div>
          <div class="c-development__content">
            <div class="c-development__features">
              <div class="c-development__feature">
                <div class="c-development__feature--image">
                  <img src="{{asset "built/images/development-flexible.svg"}}" alt="">
                </div>
                <div class="c-development__feature--title">
                  Flexible
                </div>
                <div class="c-development__feature--text">
                  Quidam officiis similique sea
                </div>
              </div>
              <div class="c-development__feature">
                <div class="c-development__feature--image">
                  <img src="{{asset "built/images/development-secure.svg"}}" alt="">
                </div>
                <div class="c-development__feature--title">
                  Secure
                </div>
                <div class="c-development__feature--text">
                  Mazim nemore singulis an ius nullam
                </div>
              </div>
              <div class="c-development__feature">
                <div class="c-development__feature--image">
                  <img src="{{asset "built/images/development-access.svg"}}" alt="">
                </div>
                <div class="c-development__feature--title">
                  Access
                </div>
                <div class="c-development__feature--text">
                  Tollit indoctum efficiendi
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-downloads">
    <div class="c-downloads__container">
      <div class="c-downloads__inner">
        <div class="c-downloads__grid">
          <div class="c-downloads__item">
            <div class="c-downloads__image">
              <img src="{{asset "built/images/downloads.svg"}}" alt="">
            </div>
            <div class="c-downloads__description">
              <div class="c-downloads__header">
                <div class="c-downloads__title">
                  Future is in your hands SDK
                </div>
                <div class="c-downloads__version">
                  Version 2.3
                </div>
                <div class="c-downloads__published">
                  August, 20, 2020
                </div>
              </div>
              <div class="c-downloads__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. efficiendi ei, at nihil tantas platonem eos
              </div>
              <div class="c-downloads__controls">
                <a href="javascript:void(0)" class="c-btn c-btn--yellow c-downloads__button">
                  DOWNLOAD
                </a>
              </div>
            </div>
          </div>

          <div class="c-downloads__item">
            <div class="c-downloads__image">
              <img src="{{asset "built/images/downloads.svg"}}" alt="">
            </div>
            <div class="c-downloads__description">
              <div class="c-downloads__header">
                <div class="c-downloads__title">
                  Get Connected at a deeper level API
                </div>
                <div class="c-downloads__version">
                  Version 2.3
                </div>
                <div class="c-downloads__published">
                  August, 20, 2020
                </div>
              </div>
              <div class="c-downloads__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. efficiendi ei, at nihil tantas platonem eos
              </div>
              <div class="c-downloads__controls">
                <a href="javascript:void(0)" class="c-btn c-btn--yellow c-downloads__button">
                  DOWNLOAD
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-blockchain">
    <div class="c-blockchain__container">
      <div class="c-blockchain__inner">
        <div class="c-blockchain__grid">
          <div class="c-blockchain__item">
            <div class="c-blockchain__title">
              Blockchain Bandwidth
            </div>
            <div class="c-blockchain__content">
              Quidam officiis similique sea ei, vel tollit indoctum efficiendi ei, at nihil tantas platonem eos. Mazim nemore singulis an ius, nullam ornatus nam ei.
            </div>
          </div>

          <div class="c-blockchain__item">
            <div class="c-progressbar">
              <div class="c-progressbar__item">
                <div class="c-progressbar__row">
                  <div class="c-progressbar__title">
                    Asperiores
                  </div>
                  <div class="c-progressbar__value">
                    87%
                  </div>
                </div>
                <div class="c-progressbar__himself">
                  <div class="c-progressbar__progress" style="transform: translateX(87%);"></div>
                </div>
              </div>
              <div class="c-progressbar__item">
                <div class="c-progressbar__row">
                  <div class="c-progressbar__title">
                    Tenetur
                  </div>
                  <div class="c-progressbar__value">
                    73%
                  </div>
                </div>
                <div class="c-progressbar__himself">
                  <div class="c-progressbar__progress" style="transform: translateX(73%);"></div>
                </div>
              </div>
              <div class="c-progressbar__item">
                <div class="c-progressbar__row">
                  <div class="c-progressbar__title">
                    Blanditiis
                  </div>
                  <div class="c-progressbar__value">
                    69%
                  </div>
                </div>
                <div class="c-progressbar__himself">
                  <div class="c-progressbar__progress" style="transform: translateX(69%);"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="c-blockchain__item">
            <div class="c-blockchain__title c-blockchain__title--small">
              More reasons why to join our community
            </div>
            <div class="c-blockchain__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
