<main class="c-main">
  <div class="c-people-and-busines">
    <div class="c-people-and-busines__inner h-container">
      <div class="c-people-and-busines__image-wrap">
        <img src="{{asset "built/images/connect-people-and-busines.svg"}}" alt="" class="c-people-and-busines__docuwalk" /><img src="{{asset "built/images/startap-onlookers.svg"}}" alt="" class="c-people-and-busines__onlookers" />
        <img src="{{asset "built/images/startap-enterprising-guy.svg"}}" alt="" class="c-people-and-busines__enterprising-guy" />
      </div>
      <div class="c-people-and-busines__body">
        <div class="c-people-and-busines__header">
          <h2 class="c-people-and-busines__title">We Connect People and Businesses</h2>
        </div>
        <div class="c-people-and-busines__desc">The Only Blockchain-Based Document &amp; Contract Platform That Transforms Records, Documents &amp; Contracts Into Fully Digital, Interoperable And Intelligent Assets.</div>
        <div class="c-people-and-busines__controls"><a href="//app.docuwalk.com/signup/personal" class="c-people-and-busines__button c-button c-button--dark-blue c-startups__sign-up-button w-button">Sign Up for Free</a></div>
      </div>
      <div class="c-people-and-busines__image-wrap-mobile"><img src="{{asset "built/images/startap-enterprising-guy.svg"}}" alt="" class="c-people-and-busines__enterprising-guy-mobile" /></div>
    </div>
    <div class="c-people-and-busines__ground"></div>
  </div>
  <div class="c-document">
    <div class="c-document__inner h-container">
      <div class="c-document__your-contracts">
        <div class="c-your-contacts">
          <div class="c-your-contacts__inner">
            <div class="c-your-contacts__image-wrap">
              <img
                src="{{asset "built/images/your-contacts-image2x.png"}}"
                srcset="
                  images/your-contacts-image2x-p-500.png   500w,
                  images/your-contacts-image2x-p-800.png   800w,
                  images/your-contacts-image2x-p-1080.png 1080w,
                  images/your-contacts-image2x-p-1600.png 1600w,
                  images/your-contacts-image2x.png        2316w
                "
                sizes="(max-width: 767px) 93vw, (max-width: 991px) 700px, (max-width: 1279px) 58vw, (max-width: 1439px) 60vw, (max-width: 1919px) 54vw, 1044.796875px"
                alt=""
                class="c-your-contacts__image"
              />
            </div>
            <div class="c-your-contacts__desc">
              <div class="c-about-contacts">
                <div class="c-your-contacts__header">
                  <img src="{{asset "built/images/contacts-header-icon-3.svg"}}" alt="" class="c-your-contacts__header-icon" />
                  <h3 class="c-your-contacts__title">
                    Level Up Your Contracts <br />
                    It’s Never Been Easier. <br />
                    Let Us Help.
                  </h3>
                </div>
              </div>
              <div class="c-your-contacts__list">
                <div class="c-your-contacts__list-item">
                  <div class="c-your-contacts__list-item-header">
                    <img src="{{asset "built/images/icon-globe-and-paper.svg"}}" alt="" class="c-your-contacts__list-item-icon" />
                    <div class="c-your-contacts__list-item-title">End-To-End Contract Management</div>
                  </div>
                  <div class="c-your-contacts__list-item-body h-temp">
                    A revolutionary paperless and frictionless solution to digitally integrate, interconnect, and interoperate agreements, contracts or transactions. <br />
                    <br />
                    Contract intelligence, instantaneous contract negotiation, multi-level participant permission management and blockchain smart contract execution are just a few examples of differentiating features compared to other
                    contract management software.
                  </div>
                </div>
                <div class="c-your-contacts__list-item">
                  <div class="c-your-contacts__list-item-header">
                    <img src="{{asset "built/images/icon-paper-2.svg"}}" alt="" class="c-your-contacts__list-item-icon" />
                    <div class="c-your-contacts__list-item-title">Virtual Negotiation Room</div>
                  </div>
                  <div class="c-your-contacts__list-item-body">
                    Negotiate terms and clauses in real time with greater ease and control for each contract with side-by-side track changes, and secure version control for auditability purposes.
                  </div>
                </div>
              </div>
              <div class="c-your-contacts__controls"><a href="/{{{block "url-prefix"}}}pricing" class="c-your-contacts__button c-button c-button--dark-blue w-button">Get started</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-document__movie">
        <div class="c-document__movie-desc">
          <div>Don’t want to keep reading? Watch this video and learn why DocuWalk is the platform everyone is talking about.</div>
        </div>
        <div id="blockchain-based-document" class="c-document__movie-wrap">
          <div style="padding-top: 56.17021276595745%;" id="w-node-de48833bb697-cba4abb1" class="w-embed-youtubevideo youtube">
            <iframe
              src="//www.youtube.com/embed/BHQi2U7xlco?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
              frameborder="0"
              style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: auto;"
              allow="autoplay; encrypted-media"
              allowfullscreen=""
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="signature">
    <div class="signature__inner h-container">
      <div class="signature__image-wrap"><img src="{{asset "built/images/signature-image.svg"}}" alt="" class="signature__image" /></div>
      <div class="signature__desc">
        <div class="c-about-signature">
          <div class="c-about-signature__header">
            <div class="c-about-signature__header-icon-wrap"><img src="{{asset "built/images/signature-header-icon-2.svg"}}" alt="" class="c-about-signature__header-icon" /></div>
            <h3 class="c-about-signature__title">It’s your signature, you shouldn’t have to pay to use it.</h3>
          </div>
          <div class="c-about-signature__desc">
            <div class="text-block-8">
              DocuWalk has the most advanced and secure signature available today. With a combination of verified identity and blockchain security you can sign contracts with the confidence of being there in person. All free for everyone.
            </div>
          </div>
          <ul role="list" class="c-about-signature__check-list">
            <li class="c-about-signature__check-list-item">Physical Signature</li>
            <li class="c-about-signature__check-list-item">Blockchain Signature</li>
            <li class="c-about-signature__check-list-item">Verified Identity</li>
            <li class="c-about-signature__check-list-item">Guaranteed Matching Contracts</li>
          </ul>
          <div class="c-about-signature__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-about-signature__button c-button c-button--dark-blue w-button">
              Get Started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-blockchain-features">
    <div class="c-blockchain-features__inner h-container">
      <div id="w-node-ab52a2cebe70-cba4abb1" class="c-blockchain-features__image-wrap">
        <div class="c-blockchain-features__image-wrap-2">
          <img
            src="{{asset "built/images/blockchain-features-app.png"}}"
            height=""
            srcset="
              images/blockchain-features-app-p-500.png   500w,
              images/blockchain-features-app-p-800.png   800w,
              images/blockchain-features-app-p-1080.png 1080w,
              images/blockchain-features-app-p-1600.png 1600w,
              images/blockchain-features-app.png        2336w
            "
            sizes="(max-width: 991px) 93vw, (max-width: 1279px) 830.921875px, (max-width: 1439px) 59vw, (max-width: 1919px) 53vw, 62vw"
            alt=""
            class="c-blockchain-features__image"
          />
        </div>
      </div>
      <div class="c-blockchain-features__body">
        <div class="c-blockchain-features__header">
          <h2 class="c-blockchain-features__title">The Only Blockchain-Based Document &amp; Contract Platform</h2>
        </div>
        <div class="c-blockchain-features__table">
          <div class="c-blockchain-features__item">
            <div class="c-blockchain-features__item-header">
              <div class="c-blockchain-features__item-icon-wrap"><img src="{{asset "built/images/icon-blockchain-foundation.svg"}}" alt="" class="c-blockchain-features__item-icon" /></div>
              <h3 class="c-blockchain-features__item-title">Foundation of Privacy &amp; Security</h3>
            </div>
            <div class="c-blockchain-features__item-text">Blockchain-based security so you can rest assured all your information is safe.</div>
          </div>
          <div class="c-blockchain-features__item">
            <div class="c-blockchain-features__item-header">
              <div class="c-blockchain-features__item-icon-wrap"><img src="{{asset "built/images/icon-blockchain-awards.svg"}}" alt="" class="c-blockchain-features__item-icon" /></div>
              <h3 class="c-blockchain-features__item-title">Awards</h3>
            </div>
            <div class="c-blockchain-features__item-text">2018 CODiE “Best Emerging Technology Award  2018 CIO “Company of the Year” award 2019 Gamechangers by RealTrends</div>
          </div>
          <div class="c-blockchain-features__item">
            <div class="c-blockchain-features__item-header">
              <div class="c-blockchain-features__item-icon-wrap"><img src="{{asset "built/images/icon-blockchain-built.svg"}}" alt="" class="c-blockchain-features__item-icon" /></div>
              <h3 class="c-blockchain-features__item-title">Built for Business</h3>
            </div>
            <div class="c-blockchain-features__item-text">Our blockchain-based security combined with DocuWalk’s proprietary document tokenization technology means your documents are secure from start to finish.</div>
          </div>
          <div class="c-blockchain-features__item">
            <div class="c-blockchain-features__item-header">
              <div class="c-blockchain-features__item-icon-wrap"><img src="{{asset "built/images/icon-blockchain-organize.svg"}}" alt="" class="c-blockchain-features__item-icon" /></div>
              <h3 class="c-blockchain-features__item-title">Organize your Files in a snap</h3>
            </div>
            <div class="c-blockchain-features__item-text">Easy to use interface makes organizing your documents and contracts a snap. Find what you need ten minutes or ten years from now</div>
          </div>
        </div>
        <div class="c-blockchain-features__controls"><a href="/{{{block "url-prefix"}}}pricing" class="c-blockchain-features__button c-button c-button--thin-out c-button--yellow w-button">Get started</a></div>
      </div>
    </div>
  </div>
  <div class="advantages-2">
    <div class="advantages-2__inner h-container">
      <div class="advantages-2__header">
        <h3 class="advantages-2__title">Let DocuWalk Make Your Work Life Easier. <span class="advantages-2__sub-title">Here’s How:</span></h3>
      </div>
      <div class="advantages-2__list">
        <section class="advantages-2__item">
          <h4 class="advantages-2__item-title">Real-time collaboration</h4>
          <div class="advantages-2__item-body">
            <div>Negotiate and discuss your projects using our side-by-side negotiation feature. No more crossing emails or mixed-up messages.</div>
          </div>
        </section>
        <section class="advantages-2__item">
          <h4 class="advantages-2__item-title">Customization</h4>
          <div class="advantages-2__item-body">
            <div>
              Customizable templates for greater quality control. All you or your staff have to do is fill in the editable fields you create. No more worrying whether all the important details were included each time you need to send out a
              new copy.
            </div>
          </div>
        </section>
        <section class="advantages-2__item">
          <h4 class="advantages-2__item-title">Fully Digitized</h4>
          <div class="advantages-2__item-body">
            <div>Contracts. Deeds. Wills. Documents of any type. With DocuWalk you can manage all your high-stakes paperwork in one secure blockchain-based platform.</div>
          </div>
        </section>
        <section class="advantages-2__item">
          <h4 class="advantages-2__item-title">Transportable</h4>
          <div class="advantages-2__item-body">
            <div>Make your contracts “talk” to each other. When you use DocuWalk you can compare and connect all your contracts to better maximize profits and increase your bottom line.</div>
          </div>
        </section>
        <section class="advantages-2__item">
          <h4 class="advantages-2__item-title">Greater Control</h4>
          <div class="advantages-2__item-body">
            <div>The eSignature and blockchain-based features are just the beginning. Users can have greater control over assigning permissions to others and a more robust editing history makes sure nothing gets lost.</div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="c-paper-working">
    <div class="c-paper-working__inner h-container">
      <div id="w-node-10953f343791-cba4abb1" class="c-paper-working__header">
        <h3 class="c-paper-working__title">Give paperwork a vacation</h3>
      </div>
      <div class="c-paper-working__desc">
        <div class="text-block-6">Ready to upgrade the way paperwork, contracts and documents are created, managed and stored? We’re sure you’ll come up with a way to spend that extra free time.</div>
      </div>
      <img src="{{asset "built/images/icon-paper-with-chart.svg"}}" id="w-node-1a76c1c36d18-cba4abb1" alt="" class="c-paper-working__desc-image" />
      <div id="w-node-6ab61aa7307b-cba4abb1" class="c-paper-working__controls"><a href="/{{{block "url-prefix"}}}pricing" class="c-paper-working__button c-button c-button--dark-blue w-button">Get started</a></div>
    </div>
  </div>
</main>
