<main class="c-main">
  <div class="c-real-estate-top">
    <div class="c-real-estate-top__inner h-container">
      <div class="c-real-estate-top__inner-2">
        <div class="c-real-estate-top__image-wrap">
          <img src="{{asset "built/images/placeholder.svg"}}" alt="" class="c-real-estate-top__image" />
        </div>
        <div class="c-real-estate-top__body">
          <div class="c-real-estate-top__header">
            <h2 class="c-real-estate-top__title">
              Don’t Spend Your Days Doing Paperwork!
            </h2>
          </div>
          <div class="c-real-estate-top__content">
            With DocuWalk you can finally spend less time dealing with paperwork and tracking changes and more time working with your clients. DocuWalk streamlines the entire contract, document, negotiation and signature process for a
            seamless end-to-end solution that will increase your productivity and allow for greater flexibility.
          </div>
          <div class="c-real-estate-top__controls">
            <a href="#learn" class="c-real-estate-top__learn-more-button c-button c-button--dark-blue w-button">
              Learn more
            </a>
            <a href="/{{{block "url-prefix"}}}pricing" class="c-real-estate-top__get-started-button c-button c-button--transparent w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="c-real-estate-features">
    <div class="c-real-estate-features__inner h-container">
      <div class="c-real-estate-features__inner-2">
        <div class="c-real-estate-features__image-wrap">
          <div class="c-real-estate-features__image-wrap-inner">
            <img src="{{asset "built/images/real-estate-features-image.svg"}}" alt="" class="c-real-estate-features__image" />
          </div>
        </div>
        <div class="c-real-estate-features__body">
          <div class="c-real-estate-features__header">
            <h3 class="c-real-estate-features__title">
              With DocuWalk complicated contract and document software is a thing of the past.
            </h3>
          </div>
          <div class="c-real-estate-features__content">
            <div class="c-features-table">
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-wire-fraud.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Wire Fraud
                  </h4>
                </div>
                <div class="c-features-table__content">
                  With the blockchain-based security of DocuWalk you can be sure any information you transmit is safe from hackers.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-privacy.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Privacy is paramount
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Your information is yours and yours only. No AI analyzing your data for profit.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-negotiations.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Negotiate in Real Time
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Know when an offer or counteroffer has been received and keep your clients informed.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-compliance.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Compliance
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Ensure brokerage-wide compliance with pre-made templates that capture all the information you need.
                </div>
              </div>
            </div>
            <img src="{{asset "built/images/real-estate-features-image.svg"}}" alt="" class="c-real-estate-features__image-2" />
          </div>

          <div class="c-real-estate-features__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-real-estate-features__button c-button c-button--light-blue w-button">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-real-estate-specific-highlight">
    <div class="c-real-estate-specific-highlight__inner h-container">
      <div class="c-real-estate-specific-highlight__inner-2">
        <div class="c-real-estate-specific-highlight__image-wrap">
          <img src="{{asset "built/images/reak-estate-industry-specific-customer-highlight.svg"}}" alt="" class="c-real-estate-specific-highlight__image" />
        </div>
        <div class="c-real-estate-specific-highlight__body">
          <div class="c-real-estate-specific-highlight__header">
            <h3 class="c-real-estate-specific-highlight__title">
              <span class="c-real-estate-specific-highlight__title-sup">
                Customer Spotlight
              </span>
              RISMedia
            </h3>
          </div>

          <div class="c-real-estate-specific-highlight__content">
            <div>
              <div>
                “DocuWalk creates a level of ease and efficiency that real estate and many other industries can use to lower their costs and increase their profit margins. Agents, brokers, and their clients can have a much smoother
                transaction process by managing all the back and forth for every document or contract involved in a property sale. Agents can also store all the information in an easy-to-use library so when their clients come back to them
                for their next home, the paperwork is easy to find in just a few clicks. As real estate adapts to more virtual closings and remote operations as a result of COVID-19, DocuWalk provides an end-to-end solution for everyone
                involved in the transaction.”
              </div>
              <div class="text-block-12">
                John Featherston, <br />
                CEO, <br />
                RISMedia
              </div>
            </div>
          </div>

          <div class="c-real-estate-specific-highlight__header">
            <h3 class="c-real-estate-specific-highlight__title">
              Berkshire Hathaway
            </h3>
          </div>

          <div class="c-real-estate-specific-highlight__content">
            <div>
              <div>
                “The blockchain-based system provided by DocuWalk is what our industry needs to combat wire fraud and other vulnerabilities that exist in the current real estate transaction. In the very near future our clients are going to
                demand that the entire real estate process takes place in a cutting-edge and fully secure online platform using blockchain technology and DocuWalk is on the forefront of meeting that future demand.”
              </div>
              <div class="text-block-12">
                David Mussari<br />
                Managing Partner/Broker<br />
                Berkshire Hathaway HomeServices Professional Realty
              </div>
            </div>
          </div>
          <div class="c-real-estate-specific-highlight__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-real-estate-specific-highlight__button c-button c-button--dark-blue w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
