<main class="c-main">
  <div class="c-government-top">
    <div class="c-government-top__inner h-container">
      <div class="c-government-top__inner-2">
        <div class="c-government-top__image-wrap">
          <img src="{{asset "built/images/civil-n-government-image.svg"}}" alt="" class="c-government-top__image" />
        </div>
        <div class="c-government-top__body">
          <div class="c-government-top__header">
            <h2 class="c-government-top__title">
              The most secure documents and contracts with full auditability.
            </h2>
          </div>
          <div class="c-government-top__content">
            We built DocuWalk to the highest standards of document tracing and auditability. Create, manage and distribute files with the most control of any system available today. Our industry-leading software lets local, state and
            federal governments streamline the management of all their documents while lowering overhead costs.
            <br />
            <br />
            Learn why DocuWalk works for the public sector at every level.
          </div>
          <div class="c-government-top__controls">
            <a href="#learn" class="c-government-top__learn-more-button c-button c-button--dark-blue w-button">
              Learn more
            </a>
            <a href="/{{{block "url-prefix"}}}pricing" class="c-government-top__get-started-button c-button c-button--transparent w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="learn" class="c-government-features">
    <div class="c-government-features__inner h-container">
      <div class="c-government-features__inner-2">
        <div class="c-government-features__image-wrap">
          <img src="{{asset "built/images/government-features-image.svg"}}" alt="" class="c-government-features__image" />
        </div>
        <div class="c-government-features__body">
          <div class="c-government-features__header">
            <h3 class="c-government-features__title">
              Learn why DocuWalk works for your strict civil and government requirements.
            </h3>
          </div>
          <div class="c-government-features__content">
            <div class="c-features-table">
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap"><img src="{{asset "built/images/icon-industries-streamlined-workflow.svg"}}" alt="" class="c-features-table__icon" /></div>
                  <h4 class="c-features-table__title">
                    Streamlined Workflow
                  </h4>
                </div>
                <div class="c-features-table__content">
                  Streamline the workflow by creating, managing, and storing everything in the same secure platform.
                </div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-security-standards.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Security Standards
                  </h4>
                </div>
                <div class="c-features-table__content">Our Blockchain-based security meets or exceeds most regulatory security standards and guidelines.</div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-legacy-documents.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Legacy Documents
                  </h4>
                </div>
                <div class="c-features-table__content">Upload and digitize legacy documents and convert them to digitized searchable documents.</div>
              </div>
              <div class="c-features-table__item">
                <div class="c-features-table__header">
                  <div class="c-features-table__icon-wrap">
                    <img src="{{asset "built/images/icon-industries-public-forms.svg"}}" alt="" class="c-features-table__icon" />
                  </div>
                  <h4 class="c-features-table__title">
                    Public Forms
                  </h4>
                </div>
                <div class="c-features-table__content">Collect and manage RFP proposals and responses at the local, state, and federal levels.</div>
              </div>
            </div>
            <img src="{{asset "built/images/government-features-image.svg"}}" alt="" class="c-government-features__image-2" />
          </div>

          <div class="c-government-features__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-government-features__button c-button c-button--light-blue w-button">
              Sign Up
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-government-specific-highlight">
    <div class="c-government-specific-highlight__inner h-container">
      <img src="{{asset "built/images/government-features-bg-image.svg"}}" alt="" class="c-government-specific-highlight__bg-image" />
      <div class="c-government-specific-highlight__inner-2">
        <div class="c-government-specific-highlight__image-wrap">
          <img src="{{asset "built/images/government-industry-specific-customer-highlight-image-2.svg"}}" alt="" class="c-government-specific-highlight__image" />
        </div>
        <div class="c-government-specific-highlight__body">
          <div class="c-government-specific-highlight__header">
            <h3 class="c-government-specific-highlight__title">
              <span class="c-government-specific-highlight__title-sup">
                Customer Spotlight
              </span>
              The Credo Company
            </h3>
          </div>
          <div class="c-government-specific-highlight__content">
            <div>
              <div>
                “Security, trust and efficiency are all paramount and needed when working in the public sector. DocuWalk’s platform provides all three needs by delivering safer, more transparent transactions, documents and communications at
                a quicker and less expensive pace. DocuWalk has the ability to transform how the public sector handles any transactions where documentation is needed.”
              </div>
              <div class="text-block-11">
                Robert J. Kovey, <br />
                Managing Partner, <br />
                The Credo Company
              </div>
            </div>
          </div>

          <div class="c-government-specific-highlight__header">
            <h3 class="c-government-specific-highlight__title">
              Former Congressman
            </h3>
          </div>
          <div class="c-government-specific-highlight__content">
            <div>
              <div>
                “Governments at all levels are responsible for the management and security of millions of documents, many of which contain personal information of the citizens they are charged to serve and protect. Whether it be the
                enormity of a national administration or a small county municipality, DocuWalk is the solution that provides government with the ability to carry out this mandate.”
              </div>
              <div class="text-block-11">
                Dan M. Donovan Jr, <br />
                Former Congressman
              </div>
            </div>
          </div>

          <div class="c-government-specific-highlight__controls">
            <a href="/{{{block "url-prefix"}}}pricing" class="c-government-specific-highlight__button c-button c-button--dark-blue w-button">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
