<main class="l-main l-main--clear">
  <div class="c-peak">
    <div class="c-peak__container">
      <div class="c-peak__inner">
        <div class="c-peak__body">
          <div class="c-peak__title">
            First On The Block, for Document and Contract Management
          </div>
          <div class="c-peak__content">
            The only blockchain-based provider for managing the entire lifecycle of complex transactions, document distribution and secure verified signatures
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-subscribe">
    <div class="c-subscribe__container">
      <div class="c-subscribe__inner">
        <div class="c-subscribe__image">
          <img src="{{asset "built/images/company-subscribe-img.svg"}}" alt="">
        </div>
        <div class="c-subscribe__body">
          <div class="c-subscribe__title">
            Subscribe to Our Newsletter
          </div>
          <div class="c-subscribe__content">
            We have BIG plans in our pipeline. Sign up here to get the latest news about what’s up and coming.
          </div>
          <div class="c-subscribe__form">
            <form class="c-subscription c-subscription--lg" id="wf-form-subscribe" name="wf-form-subscribe" data-name="subscribe" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
              <div class="c-subscription__input">
                <input type="email" maxlength="70" name="email" data-name="email" placeholder="Your email" class="c-field w-input" required>
              </div>
              <div class="c-subscription__control">
                <input type="submit" value="Subscribe" data-wait="Please wait..." class="c-btn c-btn--light-blue c-btn--min w-button">
                <input type="text" value="subscribe" maxlength="20" name="formName" hidden readonly required>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-contact-us">
    <div class="c-contact-us__container">
      <div class="c-contact-us__inner">
        <div class="c-contact-us__body">
          <div class="c-contact-us__title">
            Contact Us
          </div>
          <div class="c-contact-us__address">
            <div class="c-contact-us__logo">
              <img src="{{asset "built/images/docuwalk-logo.svg"}}" alt="">
            </div>
            <div class="c-contact">
              <div class="c-contact__title">
                ADDRESS
              </div>
              <div class="c-contact__inner">
                <div class="c-contact__item">
                  <div class="c-contact__block">
                    <div class="c-contact__row">
                      <div class="c-contact__value">
                        14 Wall Street, 20th Floor, <br>
                        NY, New York, 10005 <br>
                        USA
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-contact">
              <div class="c-contact__title">
                CONTACT
              </div>
              <div class="c-contact__inner">
                <div class="c-contact__item">
                  <div class="c-contact__sub-title">
                    ShelterZoom Corporate - Main Numbers:
                  </div>
                  <div class="c-contact__block">
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="tel:+16462905880">
                        +1 (646) 290-5880
                      </a>
                      (International)
                    </div>
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="tel:+18337109666">
                        +1 (833) 710-9666
                      </a>
                      (Toll free: US & Canada)
                    </div>
                  </div>
                </div>

                <div class="c-contact__item">
                  <div class="c-contact__sub-title">
                    DocuWalk Sales
                  </div>
                  <div class="c-contact__block">
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="tel:+16469241769">
                        +1 (646) 924-1769
                      </a>
                      (International)
                    </div>
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="tel:+18337818660">
                        +1 (833) 781-8660
                      </a>
                      (Toll free: US & Canada)
                    </div>
                  </div>
                </div>

                <div class="c-contact__item">
                  <div class="c-contact__sub-title">
                    DocuWalk Support
                  </div>
                  <div class="c-contact__block">
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="tel:+16464354459">
                        +1 (646) 435-4459
                      </a>
                      (International)
                    </div>
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="tel:+18337817705">
                        +1 (833) 781-7705
                      </a>
                      (Toll free: US & Canada)
                    </div>
                  </div>
                </div>

                <div class="c-contact__item">
                  <div class="c-contact__block">
                    <div class="c-contact__row">
                      <a class="c-contact__link" href="mailto:info@shelterzoom.com">
                        info@shelterzoom.com
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-contact-us__form">
          <form class="c-form c-form--lg" id="wf-form-contactUs" name="wf-form-contactUs" data-name="contactUs" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">
              <div class="c-form__row c-form__row--2">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="Name" class="c-field w-input" required>
                </div>
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="company" data-name="company" placeholder="Company" class="c-field w-input" required>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" required></textarea>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col c-form__col--flex-end">
                  <input type="submit" value="Submit" data-wait="Please wait..." class="c-btn c-btn--dark-blue c-btn--min w-button">
                  <input type="text" value="contactUs" maxlength="20" name="formName" hidden readonly required>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="c-press">
    <div class="c-press__container">
      <div class="c-press__inner">
        <div class="c-press__body">
          <div class="c-press__header">
            <div class="c-press__image">
              <img src="{{asset "built/images/company-press-image.svg"}}" alt="">
            </div>
            <div class="c-press__content">
              <div class="c-press__title">
                Articles & News
              </div>
              <div class="c-press__text">
                Dicta omnes atomorum voluptatum definitionem petentium sit at, vel at quis corrumpit facilisi contentiones per.
              </div>
            </div>
          </div>

          <!--
          <div class="c-press__publications">
            <div class="c-press__publication">
              <div class="c-press__publication--data">
                20 august 2019
              </div>
              <div class="c-press__publication--title">
                Fast Company Cover Story
              </div>
              <div class="c-press__publication--text">
                Te aliquam noluisse vel epicuri detracto indoctum, et fierent pericula vim.
              </div>
            </div>
            <div class="c-press__publication">
              <div class="c-press__publication--data">
                18 august 2019
              </div>
              <div class="c-press__publication--title">
                Digital trends in 2020
              </div>
              <div class="c-press__publication--text">
                Mutat quaestio erroribus eam, ei mea modus volumus abhorreant.
              </div>
            </div>
            <div class="c-press__publication">
              <div class="c-press__publication--data">
                16 august 2019
              </div>
              <div class="c-press__publication--title">
                Never giving up
              </div>
              <div class="c-press__publication--text">
                Te aliquam noluisse vel epicuri detracto indoctum, et fierent pericula vim.
              </div>
            </div>
            <div class="c-press__publication">
              <div class="c-press__publication--data">
                14 august 2019
              </div>
              <div class="c-press__publication--title">
                The future of Real Estate documents
              </div>
              <div class="c-press__publication--text">
                Mutat quaestio erroribus eam, ei mea modus volumus abhorreant.
              </div>
            </div>
          </div>
          -->

          <div class="c-press__publications-coming-soon">
            Press Links Coming Soon
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-pr c-pr--company">
    <div class="c-pr__container">
      <div class="c-pr__inner">
        <div class="c-pr__content">
          <div class="c-pr__title">
            Media & PR Contact
          </div>
          <div class="c-pr__desc">
            Our staff of experts are on hand to discuss everything from blockchain security, smart contracts, remote work, to all the ways DocuWalk is revolutionizing the contract and document landscape.
          </div>
          <div class="c-pr__employee">
            <div class="c-employee">
              <!-- <div class="c-employee__avatar">
                <img src="{{asset "built/images/man.png"}}" alt="">
              </div> -->
              <div class="c-employee__details">
                <!-- <div class="c-employee__name">
                  Sebastian Bennett
                </div> -->
                <div class="c-employee__position">
                  Media Contact
                </div>
                <div class="c-employee__email">
                  <a href="mailto:pr@docuwalk.com" target="_blank">
                    pr@docuwalk.com
                  </a>
                </div>
                <!-- <div class="c-employee__phone">
                  <a href="tel:info@company.com">
                    +1 (888) 300-5000
                  </a>
                </div> -->
                <div class="c-employee__social">
                  <nav class="c-sharing">
                    <a href="//www.facebook.com/DocuWalk-103887751350709/" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-facebook.svg"}}" alt="" />
                    </a>
                    <a href="//twitter.com/docuwalk" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-twitter.svg"}}" alt="" />
                    </a>
                    <a href="//www.instagram.com/docuwalk" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-instagram.svg"}}" alt=""/>
                    </a>
                    <a href="//www.linkedin.com/company/docuwalk" target="_blank" rel="noopener" aria-label="" class="c-sharing__link">
                      <img src="{{asset "built/images/social-linkedin.svg"}}" alt=""/>
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-pr__form">
          <form class="c-form" id="wf-form-contactPR" name="wf-form-contactPR" data-name="contactPR" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <div class="c-form__title">
                    Reach out Directly
                  </div>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" required></textarea>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="submit" value="Submit" data-wait="Please wait..." class="c-btn c-btn--red c-btn--min w-button">
                  <input type="text" value="contactPR" maxlength="20" name="formName" hidden readonly required>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="c-pr__downloads">
          <div class="c-pr__downloads--item">
            <div class="c-pr__downloads--image">
              <img src="{{asset "built/images/kit-image.svg"}}" alt="">
            </div>
            <div class="c-pr__downloads--desc">
              <div class="c-pr__downloads--title">
                Download Press Kit
              </div>
              <div class="c-pr__downloads--text">
                For executive company information, bios and headshots.
              </div>
              <div class="c-pr__downloads--link">
                Download
              </div>
            </div>
          </div>

          <div class="c-pr__downloads--item">
            <div class="c-pr__downloads--image">
              <img src="{{asset "built/images/assets-image.svg"}}" alt="">
            </div>
            <div class="c-pr__downloads--desc">
              <div class="c-pr__downloads--title">
                Download Design Assets
              </div>
              <div class="c-pr__downloads--text">
                For executive company information, bios and headshots.
              </div>
              <div class="c-pr__downloads--link">
                Download
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-investor">
    <div class="c-investor__container">
      <div class="c-investor__inner">
        <div class="c-investor__body">
          <div class="c-investor__header">
            <div class="c-investor__title">
              Investor Relations
            </div>
            <div class="c-investor__text">
              ShelterZoom was founded in 2017 by Allen Alishahi and Chao Cheng-Shorland who wanted to bring real estate transactions up to the level that consumers of today expect. We have since created the world’s first tokenized, industry-agnostic digital contract platform to advance deal, contract and transaction management in the online space. As first-movers in the space we have had the privilege of claiming vital patents, extensive press coverage, and the ability to capitalize on the momentum of our initial product.
            </div>
          </div>
          <div class="c-investor__directions">
            <div class="c-investor__direction">
              <div class="c-investor__direction--header">
                <div class="c-investor__direction--title">
                  Markets
                </div>
                <img src="{{asset "built/images/investor-markets-icon.svg"}}" alt="" class="c-investor__direction--icon">
              </div>
              <div class="c-investor__direction--text">
                Our industry agnostic platform provides an enormous market potential. We have established an extensive global network, and have initial clients in real estate, legal, insurance, commerce and will further target industries such as supply chain, financial services, civil, medicine, and energy.
              </div>
              <a href="javascript:void(0)" class="c-investor__direction--link">
                Contact us to learn more
              </a>
            </div>
            <div class="c-investor__direction">
              <div class="c-investor__direction--header">
                <div class="c-investor__direction--title">
                  The Team
                </div>
                <img src="{{asset "built/images/investor-team-icon.svg"}}" alt="" class="c-investor__direction--icon">
              </div>
              <div class="c-investor__direction--text">
                The ShelterZoom team includes highly experienced real estate, e-Commerce, financial services and technology experts, hall-of-fame designers, internationally recognized lawyers, award-winning PR and marketing professionals, and an elite cadre of programmers with decades of experience.
              </div>
              <a href="javascript:void(0)" class="c-investor__direction--link">
                Contact us to learn more
              </a>
            </div>
            <div class="c-investor__direction">
              <div class="c-investor__direction--header">
                <div class="c-investor__direction--title">
                  Money
                </div>
                <img src="{{asset "built/images/investor-money-icon.svg"}}" alt="" class="c-investor__direction--icon">
              </div>
              <div class="c-investor__direction--text">
                After an initial investment from the two founders and several angel investors, ShelterZoom is in the process of opening up a Series A round for investors.
              </div>
              <a href="javascript:void(0)" class="c-investor__direction--link">
                Contact us to learn more
              </a>
            </div>
            <div class="c-investor__direction">
              <div class="c-investor__direction--header">
                <div class="c-investor__direction--title">
                  Growth
                </div>
                <img src="{{asset "built/images/investor-growth-icon.svg"}}" alt="" class="c-investor__direction--icon">
              </div>
              <div class="c-investor__direction--text">
                We have a strong growth projection based on segment and overall market size. With the acceleration of remote and work from home initiatives by both small and medium size business we see an ever growing opportunity in SaaS software aimed at consumers and business.
              </div>
              <a href="javascript:void(0)" class="c-investor__direction--link">
                Contact us to learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
