<main class="c-main">
  <div id="plans" class="c-plans">
    <div class="c-plans__inner h-container">
      <div class="c-plans__body">
        <div class="c-plans__header">
          <h3 class="c-plans__title">Find a package that’s right for you</h3>
          <p class="c-plans__additional-text">Choosing the right path to walk down with your business software can make all the difference</p>
        </div>
        <div class="plans__set-of-plans">
          <div id="basic" class="c-plan">
            <div class="c-plan__icon-plan"><img src="{{asset "built/images/icon-pricing-basic.svg"}}" alt="" class="c-plan__icon-plan-user" /></div>
            <div class="c-plan__popularity"></div>
            <div class="c-plan__header">
              <h4 class="c-plan__title">Basic</h4>
              <div class="c-plan__price c-plan__price--highlighted">
                <div>Free</div>
              </div>
              <div class="c-plan__condition">
                <div></div>
              </div>
            </div>
            <ul role="list" class="c-plan__feature-list">
              <li class="c-plan__feature-list-item">Contracts</li>
              <li class="c-plan__feature-list-item">Documents</li>
              <li class="c-plan__feature-list-item">e-Signature</li>
              <li class="c-plan__feature-list-item">Blockchain Signature</li>
              <li class="c-plan__feature-list-item">Share Documents</li>
              <li class="c-plan__feature-list-item c-plan__feature-list-item--excluded">Negotiation</li>
              <li class="c-plan__feature-list-item c-plan__feature-list-item--excluded">Templates</li>
              <li class="c-plan__feature-list-item c-plan__feature-list-item--excluded">Publishing</li>
              <li class="c-plan__feature-list-item c-plan__feature-list-item--excluded">File Upload</li>
            </ul>
            <div class="c-plan__controls"><a href="//app.docuwalk.com/signup/personal" class="c-plan__button c-button c-button--thin-out c-button--white w-button">Get Started</a></div>
          </div>
          <div id="premium" class="c-plan c-plan--premium">
            <div class="c-plan__icon-plan"><img src="{{asset "built/images/icon-pricing-premium.svg"}}" alt="" class="c-plan__icon-plan-user" /></div>
            <div class="c-plan__popularity"></div>
            <div class="c-plan__header">
              <h4 class="c-plan__title">Premium</h4>
              <div class="c-plan__price c-plan__price--highlighted">
                <div>$9/month</div>
              </div>
              <div class="c-plan__condition">
                <div>Single User</div>
              </div>
            </div>
            <ul role="list" class="c-plan__feature-list">
              <li class="c-plan__feature-list-item">Contracts</li>
              <li class="c-plan__feature-list-item">Documents</li>
              <li class="c-plan__feature-list-item">Templates</li>
              <li class="c-plan__feature-list-item">Negotiation</li>
              <li class="c-plan__feature-list-item">Verified Signatures</li>
              <li class="c-plan__feature-list-item">Collaboration</li>
              <li class="c-plan__feature-list-item">File Upload</li>
              <li class="c-plan__feature-list-item c-plan__feature-list-item--excluded">Custom Branding</li>
              <li class="c-plan__feature-list-item c-plan__feature-list-item--excluded">Phone Support</li>
            </ul>
            <div class="c-plan__controls"><a href="//app.docuwalk.com/signup/personal" class="c-plan__button c-button c-button--thin-out c-button--white w-button">Get Started</a></div>
          </div>
          <div id="teams" class="c-plan c-plan--teams">
            <div class="c-plan__icon-plan"><img src="{{asset "built/images/icon-pricing-teams.svg"}}" alt="" class="c-plan__icon-plan-users" /></div>
            <div class="c-plan__popularity">
              <img src="{{asset "built/images/icon-star-3.svg"}}" alt="" class="c-plan__popularity-icon" />
              <div>Most Popular</div>
            </div>
            <div class="c-plan__header">
              <h4 class="c-plan__title">Teams</h4>
              <div class="c-plan__price c-plan__price--highlighted">
                <div>$19/user/month</div>
              </div>
              <div class="c-plan__condition">
                <div>For Team up to 10 users</div>
              </div>
            </div>
            <ul role="list" class="c-plan__feature-list">
              <li class="c-plan__feature-list-item">Contracts</li>
              <li class="c-plan__feature-list-item">Documents</li>
              <li class="c-plan__feature-list-item">Team Templates</li>
              <li class="c-plan__feature-list-item">Multi-Party Negotiation</li>
              <li class="c-plan__feature-list-item">Group Collaboration</li>
              <li class="c-plan__feature-list-item">Verified Signatures</li>
              <li class="c-plan__feature-list-item">Group User Management</li>
              <li class="c-plan__feature-list-item">Custom Branding</li>
              <li class="c-plan__feature-list-item">Phone Support</li>
            </ul>
            <div class="c-plan__controls"><a href="//app.docuwalk.com/signup/business" class="c-plan__button c-button c-button--thin-out c-button--light-green-2 w-button">Get Started</a></div>
          </div>
          <div id="enterprise" class="c-plan c-plan--enterprise">
            <div class="c-plan__icon-plan"><img src="{{asset "built/images/icon-pricing-enterprise.svg"}}" alt="" class="c-plan__icon-plan-users" /></div>
            <div class="c-plan__popularity"></div>
            <div class="c-plan__header">
              <h4 class="c-plan__title">Enterprise</h4>
              <div class="c-plan__price c-plan__price--highlighted">
                <div>Call Us</div>
              </div>
              <div class="c-plan__condition">
                <div>For 10+ Users</div>
              </div>
            </div>
            <ul role="list" class="c-plan__feature-list">
              <li class="c-plan__feature-list-item">Team Templates</li>
              <li class="c-plan__feature-list-item">Multi-Party Negotiation</li>
              <li class="c-plan__feature-list-item">Group Collaboration</li>
              <li class="c-plan__feature-list-item">Verified Signatures</li>
              <li class="c-plan__feature-list-item">User Management</li>
              <li class="c-plan__feature-list-item">Priority Feature Access</li>
              <li class="c-plan__feature-list-item">Custom Branding</li>
              <li class="c-plan__feature-list-item">Analytics</li>
              <li class="c-plan__feature-list-item">Priority Support</li>
            </ul>
            <div class="c-plan__controls">
              <a href="/{{{block "url-prefix"}}}enterprise" class="c-plan__button c-button c-button--thin-out c-button--white w-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="comparison-table" class="c-pricing">
    <div class="c-pricing__inner h-container">
      <div class="c-pricing__header">
        <h2 class="c-pricing__title">Pricing table</h2>
      </div>
      <div class="c-pricing__table">
        <div class="c-pricing-table">
          <div class="c-pricing-table__head">
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--head c-pricing-table__col--features">Features</div>
              <div class="c-pricing-table__col c-pricing-table__col--head c-pricing-table__col--basic">Basic</div>
              <div class="c-pricing-table__col c-pricing-table__col--head c-pricing-table__col--individual">Premium</div>
              <div class="c-pricing-table__col c-pricing-table__col--head c-pricing-table__col--teams">Teams</div>
              <div class="c-pricing-table__col c-pricing-table__col--head c-pricing-table__col--enterprise">Enterprise</div>
            </div>
          </div>
          <div class="c-pricing-table__body">
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Contract Creation</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Document Creation</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Template Creation</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Template Library</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Contract Negotiation</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">e-Signature</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Blockchain Signature</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Document Acknowledgment</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Chat</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic">
                <div class="c-pricing-table__limited">Limited</div>
              </div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Collaboration</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic">
                <div class="c-pricing-table__limited">Limited</div>
              </div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Notification</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Track History</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Share Documents</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Publish to Teams</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Multi-factor Authentication</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Custom Branding</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Files Upload</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Add Attachment</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Download PDF</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Permissions Management</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic">
                <div class="c-pricing-table__limited">Limited</div>
              </div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Organizational User Management</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--features">Analytics</div>
              <div class="c-pricing-table__col c-pricing-table__col--basic"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--individual"><img src="{{asset "built/images/icon-times.svg"}}" alt="" class="c-pricing-table__no" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--teams"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
              <div class="c-pricing-table__col c-pricing-table__col--enterprise"><img src="{{asset "built/images/icon-check.svg"}}" alt="" class="c-pricing-table__yes" /></div>
            </div>
          </div>
          <div class="c-pricing-table__foot">
            <div class="c-pricing-table__row">
              <div class="c-pricing-table__col c-pricing-table__col--foot c-pricing-table__col--features"></div>
              <div class="c-pricing-table__col c-pricing-table__col--foot c-pricing-table__col--basic">
                <a href="//app.docuwalk.com/signup/personal" class="c-pricing-table__button c-button c-button--thin-out c-button--white w-button">Get Started</a>
              </div>
              <div class="c-pricing-table__col c-pricing-table__col--foot c-pricing-table__col--individual">
                <a href="//app.docuwalk.com/signup/personal" class="c-pricing-table__button c-button c-button--thin-out c-button--white w-button">Get Started</a>
              </div>
              <div class="c-pricing-table__col c-pricing-table__col--foot c-pricing-table__col--teams">
                <a href="//app.docuwalk.com/signup/business" class="c-pricing-table__button c-button c-button--thin-out c-button--dark-blue w-button">Get Started</a>
              </div>
              <div class="c-pricing-table__col c-pricing-table__col--foot c-pricing-table__col--enterprise"><a href="/{{{block "url-prefix"}}}enterprise" class="c-pricing-table__button c-button c-button--thin-out c-button--white w-button">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-try-it">
    <div class="c-try-it__inner h-container">
      <div class="c-try-it__inner-2">
        <div id="w-node-83c1cb67eea7-cce875fd" class="c-try-it__decor"><img src="{{asset "built/images/Group-17822.svg"}}" alt="" class="image-2" /></div>
        <div id="w-node-3445a695072a-cce875fd" class="c-try-it__desc">
          <div class="c-try-it__header">
            <h3 class="c-try-it__title">Still trying to decide?</h3>
            <h4 class="c-try-it__sub-title">Start with a free trial and see why more businesses are switching to DocuWalk</h4>
          </div>
          <p class="c-try-it__text">
            Try the full featured version of DocuWalk free for 30 days and see why it’s the most complete document and contract management platform. Upgrade to an annual subscription at anytime during your trial and get another 30 days on
            us.
          </p>
        </div>
        <div class="c-try-it__form">
          <div class="c-free-trial-form">
            <section id="free-trial-form" class="c-free-trial-form__inner">
              <h2 class="c-free-trial-form__header">Free trial for 30 days</h2>
              <div class="c-free-trial-form__form-block w-form">
                <form id="wf-form-freeTrial-3" name="wf-form-freeTrial" data-name="freeTrial" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing" class="c-free-trial-form__form">
                  <div class="c-free-trial-form__row c-free-trial-form__two-cols">
                    <input type="text" class="c-free-trial-form__field c-field w-input" maxlength="70" name="firstName" data-name="firstName" placeholder="First name" required="" />
                    <input type="text" class="c-free-trial-form__field c-field w-input" maxlength="70" name="lastName" data-name="lastName" placeholder="Last name" required="" />
                  </div>
                  <div class="c-free-trial-form__row"><input type="email" class="c-free-trial-form__field c-field w-input" maxlength="70" name="email" data-name="email" placeholder="Email" required="" /></div>
                  <div class="c-free-trial-form__row c-free-trial-form__row--complex"><input type="tel" class="c-free-trial-form__field c-field w-input" maxlength="17" name="phone" data-name="phone" placeholder="Phone" required="" /></div>
                  <div class="c-free-trial-form__row h-temp">
                    <label class="w-checkbox c-free-trial-form__checkbox">
                      <input type="checkbox" maxlength="3" name="acceptTOC" data-name="acceptTOC" required="" class="w-checkbox-input c-free-trial-form__checkbox-input" /><span for="acceptTOC" class="w-form-label">I agree to the </span>
                      <a href="/{{{block "url-prefix"}}}legal-terms-and-conditions" target="_blank" class="c-free-trial-form__terms-link w-inline-block"><div>Terms &amp; Conditions.</div></a>
                    </label>
                  </div>
                  <div class="c-free-trial-form__row"><input type="submit" value="Get Started" data-wait="Please wait..." class="c-free-trial-form__button c-button c-button--dark-blue c-get-started-home__form-button w-button" /></div>
                  <div class="c-free-trial-form__row h-hide">
                    <div class="w-embed"><input type="text" value="freeTrial" maxlength="20" name="formName" hidden required readonly /></div>
                  </div>
                </form>
                <div class="w-form-done">
                  <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
