<main class="l-main l-main--clear">
  <div class="c-work">
    <div class="c-work__container">
      <div class="c-work__inner">
        <div class="c-work__image">
          <img src="{{asset "built/images/careers-work-image.svg"}}" alt="" />
        </div>
        <div class="c-work__body">
          <div class="c-work__title">
            Let’s work together
          </div>
          <div class="c-work__controls">
            <button type="button" class="c-btn c-btn--light-blue c-work__button">
              Contact us
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-apply">
    <div class="c-apply__container">
      <div class="c-apply__inner">
        <div class="c-apply__body">
          <div class="c-apply__image">
            <img src="{{asset "built/images/careers-case-image.svg"}}" alt="" />
          </div>
          <div class="c-apply__title">
            Apply to work with us
          </div>
          <div class="c-apply__content">
            Choosing the right path to walk down with your business software can make all the difference in your business
          </div>
        </div>
        <div class="c-apply__form">
          <form class="c-form c-form--lg" id="wf-form-jobRequest" name="wf-form-jobRequest" data-name="jobRequest" method="post" action="//identity.docuwalk.com/api/leads/new" redirect="/pricing" data-redirect="/pricing">
            <div class="c-form__inner">
              <div class="c-form__row c-form__row--2">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="firstName" data-name="firstName" placeholder="Name" class="c-field w-input" required />
                </div>
                <div class="c-form__col">
                  <input type="email" maxlength="70" name="email" data-name="email" placeholder="Email" class="c-field w-input" required />
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <input type="text" maxlength="70" name="company" data-name="company" placeholder="Company" class="c-field w-input" />
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col">
                  <textarea class="c-field w-input" maxlength="500" name="message" data-name="message" placeholder="Message" spellcheck="false" required></textarea>
                </div>
              </div>
              <div class="c-form__row c-form__row--1">
                <div class="c-form__col c-form__col--space-between">
                  <label class="c-file" for="jobRequestFile">
                    <input type="file" id="jobRequestFile" name="file" data-name="file" class="w-file-upload-input" />
                    Attach CV / Resume
                  </label>

                  <input type="submit" value="Submit" data-wait="Please wait..." class="c-btn c-btn--dark-blue c-btn--min w-button" />
                  <input type="text" value="jobRequest" maxlength="20" name="formName" hidden readonly required />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="c-positions">
    <div class="c-positions__container">
      <div class="c-positions__inner">
        <div class="c-positions__grid">
          <div class="c-positions__item">
            <div class="c-positions__item--title">
              Open Position 4
            </div>
            <div class="c-positions__item--text">
              Mea an decore veritus probatus affert verterem probo semper et, mea simul graeco diceret stet ferri qualisque, ut clita scripserit.
            </div>
          </div>
          <div class="c-positions__item">
            <div class="c-positions__item--title">
              Open Position 4
            </div>
            <div class="c-positions__item--text">
              Mea an decore veritus probatus affert verterem probo semper et, mea simul graeco diceret stet ferri qualisque, ut clita scripserit.
            </div>
          </div>
          <div class="c-positions__item">
            <div class="c-positions__item--title">
              Open Position 4
            </div>
            <div class="c-positions__item--text">
              Mea an decore veritus probatus affert verterem probo semper et, mea simul graeco diceret stet ferri qualisque, ut clita scripserit.
            </div>
          </div>
          <div class="c-positions__item">
            <div class="c-positions__item--title">
              Open Position 4
            </div>
            <div class="c-positions__item--text">
              Mea an decore veritus probatus affert verterem probo semper et, mea simul graeco diceret stet ferri qualisque, ut clita scripserit.
            </div>
          </div>
          <div class="c-positions__item">
            <div class="c-positions__item--title">
              Open Position 4
            </div>
            <div class="c-positions__item--text">
              Mea an decore veritus probatus affert verterem probo semper et, mea simul graeco diceret stet ferri qualisque, ut clita scripserit.
            </div>
          </div>
          <div class="c-positions__item">
            <div class="c-positions__item--title">
              Open Position 4
            </div>
            <div class="c-positions__item--text">
              Mea an decore veritus probatus affert verterem probo semper et, mea simul graeco diceret stet ferri qualisque, ut clita scripserit.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-reviews">
    <div class="c-reviews__container">
      <div class="c-reviews__inner">
        <div class="c-reviews__body">
          <div class="c-reviews__title">
            Read our GlassDoor reviews
          </div>
          <div class="c-reviews__grid">
            <div class="c-reviews__item">
              <div class="c-reviews__item--image">
                <img src="{{asset "built/images/user-2.svg"}}" alt="" />
              </div>
              <div class="c-reviews__item--text">
                "Et vim graeco principes. Cu dico nullam pri stet possim quaerendum invenire platonem animal assentior nam."
              </div>
              <div class="c-reviews__item--rating">
                <div class="c-rating">
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item"></span>
                  <span class="c-rating__item"></span>
                </div>
              </div>
              <div class="c-reviews__item--author">
                Amelia Edwards
              </div>
              <div class="c-reviews__item--project">
                DocuWalk
              </div>
            </div>
            <div class="c-reviews__item">
              <div class="c-reviews__item--image">
                <img src="{{asset "built/images/user-2.svg"}}" alt="" />
              </div>
              <div class="c-reviews__item--text">
                "Nam natum volutpat eu. Natum elitr vel te. Id qui purto dicit, bonorum minimum et sit assum tation homero."
              </div>
              <div class="c-reviews__item--rating">
                <div class="c-rating">
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item"></span>
                </div>
              </div>
              <div class="c-reviews__item--author">
                Darika Samak
              </div>
              <div class="c-reviews__item--project">
                DocuWalk
              </div>
            </div>
            <div class="c-reviews__item">
              <div class="c-reviews__item--image">
                <img src="{{asset "built/images/user-2.svg"}}" alt="" />
              </div>
              <div class="c-reviews__item--text">
                "Lorem deterruisset ea vis, usu eu hinc lorem inciderint autem molestiae mazim iudico tritani feugait electram an."
              </div>
              <div class="c-reviews__item--rating">
                <div class="c-rating">
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item"></span>
                </div>
              </div>
              <div class="c-reviews__item--author">
                Siri Jakobsson
              </div>
              <div class="c-reviews__item--project">
                DocuWalk
              </div>
            </div>
            <div class="c-reviews__item">
              <div class="c-reviews__item--image">
                <img src="{{asset "built/images/user-2.svg"}}" alt="" />
              </div>
              <div class="c-reviews__item--text">
                "Lorem deterruisset ea vis, usu eu hinc lorem inciderint autem molestiae mazim iudico tritani feugait electram an."
              </div>
              <div class="c-reviews__item--rating">
                <div class="c-rating">
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item c-rating__item--active"></span>
                  <span class="c-rating__item"></span>
                </div>
              </div>
              <div class="c-reviews__item--author">
                Siri Jakobsson
              </div>
              <div class="c-reviews__item--project">
                DocuWalk
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
