<nav class="c-aside-menu">
  <!-- <div class="c-aside-menu__item first">
    <a href="#" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
      <div>Contact Us</div>
    </a>
  </div> -->
  {{!-- <div class="c-aside-menu__item first h-stage-one--hide">
    <a href="/{{{block "url-prefix"}}}investor-relations" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
      <div>Investor Relations</div>
    </a>
  </div> --}}
  <!-- <div class="c-aside-menu__item">
    <a href="#" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
      <div class="text-block-9">Appearances</div>
    </a>
  </div> -->
  {{!-- <div class="c-aside-menu__item h-stage-one--hide">
    <a href="/{{{block "url-prefix"}}}media-relations" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
      <div>Press Kit</div>
    </a>
  </div> --}}
  <div class="c-aside-menu__item first">
    <a href="/{{{block "url-prefix"}}}legal-terms-and-conditions" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block {{link_class for="/legal-terms-and-conditions" activeClass="active"}}">
      <div>Legal</div>
    </a>
    <div class="c-aside-menu__submenu">
      <div class="c-aside-menu__subitem">
        <a href="/{{{block "url-prefix"}}}legal-terms-and-conditions" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block {{link_class for="/legal-terms-and-conditions" activeClass="active"}}">
          <div>Terms and Conditions</div>
        </a>
      </div>
      <!-- <div class="c-aside-menu__subitem">
        <a href="#" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
          <div>Real Property Transactional Services Terms of Use</div>
        </a>
      </div> -->
      <div class="c-aside-menu__subitem">
        <a href="/{{{block "url-prefix"}}}legal-privacy-policy-and-prominent-disclosures" aria-current="page" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block {{link_class for="/legal-privacy-policy-and-prominent-disclosures" activeClass="active"}}">
          <div>Privacy Policy and Prominent Disclosures</div>
        </a>
      </div>
      <!-- <div class="c-aside-menu__subitem">
        <a href="#" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
          <div>Community Standards</div>
        </a>
      </div> -->
      <!-- <div class="c-aside-menu__subitem">
        <a href="#" class="c-aside-menu__link c-aside-menu__first-lvl w-inline-block">
          <div>Acceptable Use Policy</div>
        </a>
      </div> -->
    </div>
  </div>
</nav>