{{!< default-dw-non-res}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main class="l-main l-main--news-detail">
  <div class="c-story">
    <div class="c-story__container">
      <div class="c-story__inner">
        <div class="c-story__body">
          <div class="c-story__title">
            Cover story in Fast Company
          </div>

          <div class="c-story__info">
            <div class="c-story__avatar">
              <img src="{{asset "built/images/avatar.svg"}}" alt="Diana Campos">
            </div>
            <div class="c-story__author">Diana Campos</div>
            <div class="c-story__separator"></div>
            <div class="c-story__type">Business</div>
            <div class="c-story__date">20 august 2019</div>
          </div>

          <div class="c-story__article">
            <p>
              Ea sed vivendo offendit persecuti, porro animal ludus dignissim debet molestiae constituto ne, quo consul interesset ei, cotidieque theophrastus nominavi suavitate deterruisset qui, assum ubique quodsi partem vocent vel, ius id viris utinam.
            </p>

            <p>
              <img src="{{asset "built/images/some-house.svg"}}" alt="House">
            </p>

            <p>
              Dicat eripuit accumsan ad est. Facer facilisi ius ei, ea has cetero argumentum, vel at fugit temporibus. Deseruisse definitionem his et, an has veri integre abhorreant, nam alii epicurei et. Ei ferri aperiri pri. Nemore facilisi mediocrem at duo, zril ancillae ea sit. Ea eos essent ornatus percipit, mea an persecuti pertinacia, te suas semper per. Et qui debet veritus, ei qui utroque luptatum sadipscing.
            </p>

            <h2>
              Ultimate success formula
            </h2>

            <p>
              Erroribus vituperatoribus no eos, no nobis alienum per. Dolor contentiones qui ei, exerci dissentiet comprehensam eum ne. Quo in tacimates recusabo scripserit, in mea tantas soleat imperdiet, ut vim illum dicam disputationi. Unum porro audiam at vel, eu nam primis regione.
            </p>

            <p>
              <img src="{{asset "built/images/some-house.svg"}}" alt="House">
            </p>

            <p>
              Mea an decore veritus probatus. Nec ea affert verterem. Vix probo semper et, mea simul graeco diceret te. Qui no stet ferri qualisque, ut clita scripserit nec. Ei mei fabellas gubergren, ius nostro senserit adversarium te. Vix dicam dolore cu. Mel erat timeam scriptorem an. Sit alii tantas viderer no.
            </p>
          </div>

          <div class="c-story__controls">
            <div class="c-story__tags">
              <a href="javascript:void(0)" class="c-tag">World</a>
              <a href="javascript:void(0)" class="c-tag">Business</a>
              <a href="javascript:void(0)" class="c-tag">Tech</a>
            </div>

            <nav class="c-sharing">
              <a href="//www.facebook.com/DocuWalk-103887751350709/" target="_blank" rel="noopener" class="c-sharing__link">
                <img src="{{asset "built/images/social-facebook.svg"}}" alt="" />
              </a>
              <a href="//twitter.com/docuwalk" target="_blank" rel="noopener" class="c-sharing__link">
                <img src="{{asset "built/images/social-twitter.svg"}}" alt="" />
              </a>
              <a href="//www.instagram.com/docuwalk" target="_blank" rel="noopener" class="c-sharing__link">
                <img src="{{asset "built/images/social-instagram.svg"}}" alt=""/>
              </a>
              <a href="//www.linkedin.com/company/docuwalk" target="_blank" rel="noopener" class="c-sharing__link">
                <img src="{{asset "built/images/social-linkedin_color.svg"}}" alt=""/>
              </a>
            </nav>
          </div>

          <div class="c-story__author-info">
            <div class="c-story__author-info__avatar">
              <img src="{{asset "built/images/avatar.svg"}}" alt="Diana Campos">
            </div>
            <div class="c-story__author-info__inner">
              <div class="c-story__author-info__role">
                Author
              </div>
              <div class="c-story__author-info__name">
                Diana Campos
              </div>
              <div class="c-story__author-info__some-text">
                Te aliquam noluisse epicuri detracto indoctum, et fierent pericula vim, veniam epicuri an eum. Ad mutat quaestio erroribus eam, ei mea modus volumus abhorreant.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
